.nossos-servicos{
    background-color:$blue;
    padding: 10px 50px 40px;
}

.grupo-engie-hero{
    padding: 45px 0;
}

.quem-somos{
    margin-bottom: 45px;
}

.grupo-engie-text{
    padding: 45px 50px;
    background-color: $white;
    outline:$light-grey-line solid 1px;
    margin: -250px 0 90px 0;
}
.grupo-engie-text p{
    margin: 0 45px 0px 45PX;
}

.grupo-engie-button{
    background-color: $light-orange;
    height: 75px;
    position: relative;
    z-index: 9999;
    float: right;
    padding: 20px 0 0 6%;
}
.grupo-engie-button >a{
     z-index: 99999;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: auto;
}

.grupo-engie-button i{
    transform: translateY(4.5px)
}

@media screen and (max-width: 64em) {
    .grupo-engie-text{
        position: inherit;
        margin: 0;
        outline: none;
        padding: 0;
    }
    
    .grupo-engie-text p{
        margin: 45px 0 45px 0;
    }
    
    .grupo-engie-hero{
        height: 50vw !important;
    }
}

@media screen and (max-width: 40em) {
    .grupo-engie-hero{
        height: 100vw !important;
    }
    
    .grupo-engie-button a{
        font-size: 14px !important;
    }
}