.post-detail {
    padding: 0 !important;
}

.post-detail-image {
    margin-top: 20px;
    height: 404px;
    overflow: hidden;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    padding: 30px !important;
    background-color: $light-grey-post;
    margin-top: 20px;
    &.prev {
        border-right: 10px solid $white;
    }
    &.next {
        float: right;
        text-align: right;
        border-left: 10px solid $white;
    }
}

.box h4 {
    font-size: 22px;
    letter-spacing: 0;
}
.share {
    margin: 40px 0 20px;
}
.share a{
    vertical-align: bottom
}
.share p {
    font-family: $font-semibold;
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 20px 0 0;
}
@media screen and (max-width: 640px) {
    .share p {
    font-family: $font-semibold;
    display: block;
    margin-bottom: 10px;
    padding: 0 20px 0 0;
}
    .box {
        padding: 30px !important;
        background-color: $light-grey-post;
        &.prev {
            border-right: 0 solid $white;
        }
        &.next {
            float: right;
            text-align: right;
            border-left: 0 solid $white;
        }
    }
}