//.clear-height:after {
//    clear: none !important;
//}
//
//.clear-height::before,
//.clear-height::after {
//    content: " " !important;
//    display: table !important;
//}

.negative-columns {
    position: relative;
    top: -484px;
}

//categories-box
.categories-box {
    width: 100%;
    height: auto;
    background-color: $light-orange;
    position: relative;
    right: 0;
    margin: 0;
    padding: 20px 50px 30px;
    float: right;
    height: auto;
    overflow: auto;
    >ul {
        height: auto;
        margin-top: 30px;
        padding-right: 10px;
        >li {
            margin-bottom: 20px;
            line-height: 20px;
        }
    }
}

.post {
    background-color: $light-grey-post;
    padding: 0 !important;
    margin: 20px 0;
}

.post-image {
    padding: 0;
    height: 330px;
    overflow: hidden;
}

.post-content {
    background-color: $light-grey-post;
    height: 330px;
    padding: 50px !important;
    overflow: hidden;
}

.category-tag {
    font-size: 15px;
    font-family: $font-semibold;
    color: $light-orange;
    margin-bottom: 16px;
}

.post-date {
    float: right;
    color: $light-grey;
}

.post-content h4 {
    letter-spacing: 0.005em;
}

.post p {
    padding-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid $light-grey-line;
}

.post-image img {
    display: block;
    margin: 0 auto;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: none !important;
}

//pagination 
.pagination {
    font-family: $font-book;
    margin: 30px 0 30px;
}

.pagination li a:hover,
.pagination li a:focus {
    opacity: inherit;
    color: inherit;
}

.arrow a:hover,
.arrow a:focus {
    color: $blue !important;
    opacity: 0.5 !important;
}

.pagination a {
    color: $dark-grey;
}

.pagination .current,
.pagination .current a {
    background: none;
    color: $blue;
    font-family: $font-bold;
}

.pagination a:hover,
.pagination button:hover {
    background: $white;
}

.arrow a {
    color: $blue;
}

.arrow .material-icons {
    vertical-align: bottom;
}

.unavailable {
    opacity: 0.6 !important;
}

.unavailable:hover {
    opacity: 1 !important;
}

@media screen and (max-width: 1024px) {
    .post {
        background-color: $white;
        padding: 0 8px !important;
        margin: 20px 0;
    }
    .categories-box {
        width: 100%;
        margin: 20px 0;
        height: auto;
        background-color: $light-orange;
        position: relative;
        right: 0;
        top: 0;
        padding: 20px 50px 30px;
        float: right;
        height: 510px;
    }
    .negative-columns {
        position: relative;
        top: auto;
    }
}

@media screen and (max-width: 800px) {
    .post-content {
        padding: 35px !important;
        height: auto;
    }
}

@media screen and (max-width: 639px) {
    .post {
    background-color: $white;
    padding: 0 !important;
    margin: 20px 0;
}
    .arrow .material-icons {
        font-size: 36px;
    }
}