.case-detail-image {
    margin-top: 25px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.case-info {
    margin-top: 40px;
    text-align: center;
    padding: 0 0 0 20px;
    >p {
        font-family: $font-semibold;
    }
    >h4 {
        letter-spacing: 0;
    }
}

.case-info-content {
    padding: 45px;
    background-color: $light-grey-post;
    >h4 {
        letter-spacing: 0;
        margin-top: 40px;
        >p {
            margin: 0 0 40px;
        }
    }
}

.cases-content {
    padding: 0 10px 0 0;
}

.graph-case-detail {
    height: 200px;
    margin: 40px auto 0;
}

.date-detail {
    float: right;
    color: $light-grey;
    text-align: right;
    margin-top: 40px;
}

.city {
    color: $pumpkin-orange;
    font-family: $font-semibold;
    margin-bottom: 40px;
    &:before {
        font-family: 'Material Icons';
        content: "pin_drop";
        font-size: 24px;
        vertical-align: middle;
        padding-right: 12px;
    }
}

#active {
    transform: rotate(270deg) scaleY(-1);
    transform-origin: center;
    transition: all 0.6s ease 0s;
}

.percent {
    font-family: $font-bold;
    font-size: 12px;
}

.install {
    margin: 40px 30px;
    border-bottom: 1px solid $blue;
}

.reset-solution {
    position: absolute;
    right: 6%;
    bottom: 0;
    padding: 0;
}

.solution-box {
    height: auto;
    background-color: $pumpkin-orange;
    padding: 20px 50px 40px;
    float: right;
    >.button {
        width: 300px;
    }
}


@media screen and (max-width: 1024px) {
    .date-detail {
        float: right;
        color: $light-grey;
        text-align: left;
        margin-top: 0;
        padding-left: 0;
    }
    .case-info {
        padding: 0;
    }
    .case-info-content {
        max-width: 400px;
        margin: 0 auto;
    }
    .cases-content {
        padding: 0;
    }
}

@media screen and (max-width: 800px) {
    .reset-solution {
        display: none;
    }
}