 .contact-box-content {
     top: -420px;
     position: relative;
 }
 
 .contact-box {
     width: 300px;
     height: auto;
     background-color: $blue;
     position: absolute;
     margin: 0;
     padding: 40px 40px 70px;
     right: 0;
 }
 
 .contact-form {
     padding: 40px 0 0;
     select {
         border-width: 0 0 1px 0;
         border-bottom: 1px solid $light-grey;
         font-family: $font-semibold;
         //         color: $light-grey;
         border-radius: 0;
         &:hover {
             border-bottom: 3px solid $pumpkin-orange;
             cursor: pointer;
         }
     }
 }
 
 .engie-email {
     font-family: $font-semibold;
     font-size: 17px;
     color: $white !important;
 }
 
 @media screen and (max-width: 720px) {
     .contact-box-content {
         top: 20px;
         position: relative;
     }
     .contact-box {
         width: 100%;
         height: auto;
         position: relative;
         right: 0;
         top: 0;
         margin: 0;
         float: left;
     }
 }