@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }
html,body { height: auto;}
body {background-color: #F0F0F0;}
.scroll {padding-top: 50px;}
.simulator-dot {
    background-image: url('../images/files/gradiente.png');
    background-size: auto 100%;
    background-position: 0% 20%;
    p {
        color: $white;
        font-family: $font-news
    }
    .vertical-center {
        @include  y-center();
    }
    h2 {
        letter-spacing: normal;
        font-family: $font-book;
        font-size: 32px;
        color: $white;
        text-align: center;
        b {
            font-family: $font-semibold;
        }
    }

    .header {
        background: url('../images/files/header_new_simulator.png') no-repeat;
        background-size: cover;
        background-position: 0% 500%;
        // height:1382px;
        padding: 60px 20px 30px;
        .tittle-wrapper {
            width: 65%;
            margin: 0 auto;
            position: relative;
            p {
                text-align: center;
                margin-bottom: 60px;
            }
            .logo-wrapper {
                text-align: center;
                margin-bottom: 30px;
            }
            .title {
                text-align: center;
                font-family: $font-book;
                font-size: 45px;
                line-height: 55px;
                background-color: rgba(0,0,0,0);
                display: block;
                float: none;
                width: auto;
                height: auto;
                text-transform: initial;

                b {
                    font-family: $font-semibold;
                }
            }
            .know-more {
                color: $white;
                display: block;
                text-align: center;
                font-family: $font-bold;
                // margin-bottom: 260px;
                position: absolute;
                bottom: 20%;
                left: 50%;
                transform: translateX(-50%);
                &:after {
                    content: "\f078";
                    display: block;
                    font-size: 32px;
                    font-family: 'FontAwesome';
                    animation-name: bounce;
                    animation-duration: .5s;
                    animation-fill-mode: both;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    margin-top: 10px;
                }
            }
        }
        .slider-wrapper {

            .slider-investimento-solar {
                margin: {
                    left:-20px;
                }
                width: calc(100% + 40px);
                .item {
                    width: 360px;
                    height: 360px;
                    color: $white;
                    border: 1px solid #D1DBE3;
                    border-radius: 5px;
                    padding: 10px 40px;
                    float: none;
                    transition: all 0.5s ease;
                    img {
                        margin: 0 auto;
                        display: block;
                        width: 110px;
                        height: 110px;
                        margin-bottom: 20px;
                        opacity: .44;
                    }
                    .title,
                    .description {
                        background: none;
                        text-transform: initial;
                        text-align: center;
                        float: none;
                        text-align: center;
                        width: auto;
                        height: auto;
                    }
                    .title {
                        font-family: $font-bold;
                        font-size: 22px;
                        line-height: initial;
                    }
                    .description {
                        font-family: $font-news;
                        font-size: 14px;
                    }
                }
                .owl-item.active.center .item {
                    background-color: #FDC300;
                    box-shadow: 0px 20px 40px rgba(0,0,0,.3);
                    img {
                        opacity: 1;
                    }
                    .title {
                        color: #7A2182;
                    }
                }
                .owl-stage-outer {
                    padding: 50px 0px;
                }
                .owl-nav {
                    .owl-prev,
                    .owl-next {
                        width: 40px;
                        height: 40px;
                        color: #9DAFBD;
                        background-color: $white;
                        border-radius: 50%;
                        transition: all 0.5s ease;
                        &:hover {
                            background-color: #25077B;
                            color: $white;
                        }
                    }
                }
            }

        }
    }
    .simulator {
        padding: 10px 100px;
        margin-bottom: 50px;
        z-index: 10;
        position: relative;
        .box-simulator {
            padding: 40px 30px;
            background-color: #009FE3;
            box-shadow: 0px 40px 80px rgba(0,0,0,0.1);
            border-radius: 5px;
            #simulator-form {
                .form-item {
                    float: left;
                    width: 22%;
                    margin-right: 1%;
                    &.form-item-valor-mensal {
                        margin-right: 0;
                        width: 31%;
                    }
                    .form-label {
                        top: 22px;
                    }
                    &.form-item-has-value .form-text~.form-label,
                    .form-text:focus~.form-label,
                    &.form-item-has-value .form-select~.form-label,
                    .form-select:focus~.form-label {
                        top: 5px;
                    }
                }
                .form-select {
                    color: #009FE3;
                    border-radius: 5px;
                        > option {
                    }
                }
                .form-text {
                    color: #009FE3;
                }
                .radio-content {
                    position: absolute;
                    right: 0;
                    color: $white;
                    background-color: #2D2683;
                    float: none;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    label {
                        color: $white;
                        margin: 0;
                    }
                }
                &:after {
                    content: '';
                    display: table;
                    clear: both;
                }
                .parsley-required {
                    color: $white;
                }
            }
            & .form-items:after {
                content: '';
                clear: both;
                display: table;
            }
        }
        .btn-wrapper {
            text-align: center;
            .btn {
                background-color: #F59C00;
                color: #fff;
                width: 158px;
                height: 40px;
                font-size: 14px;
                border-radius: 20px;
                box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
            }
        }
    }
    #result-error {
        display: none;
        width: 80%;
        margin: 0 auto 40px;
    }
    #loading {
        text-align: center;
        display: none;
    }
    .result {
        display: none;
        background: rgba(255,255,255,0.31);
        padding-top: 135px;
        margin-top: -135px;
        padding-bottom: 15px;
        p {text-align: center; color: #575756;margin-bottom: 45px;}
        .result-cards {
            margin: 0 auto 50px;
            width: 1120px;
            padding: 10px 0px;
            text-align: center;
            .result-card {
                float: left;
                background: $white;
                box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                width: 360px;
                height: 314px;
                padding: 65px 45px 0px;
                transition: all 1s ease 0s;
                opacity: 0;
                &:not(:last-child) {
                    margin-right: 20px;
                }
                .result-description {
                    transition: all 1s ease 0s;
                    opacity: 0;
                    transform: translateY(50%);
                    .text-result {
                        color: #9DAFBD;
                        display: block;
                        text-align: center;
                    }
                    .output-result {
                        font-size: 50px;
                        font-family: $font-semibold;
                        color: #026FC2;
                        display: block;
                        text-align: center;
                    }
                }
                .svg-wrapper {
                    width: 200px;
                    text-align: center;
                    margin: 0 auto;
                    svg {
                        width: 100%;
                        height: auto;
                    }
                    .meter {
                        width: 80%;
                        padding-bottom: 49px;
                        .group-arrow-point {
                            transform: translate(60px, 22px) rotate(-148deg);
                            transform-origin: 0;
                            transition: all 1s ease 0s;
                            &.bad {
                                transform: translate(60px, 22px) rotate(-100deg);
                            }
                            &.medium {
                                transform: translate(60px, 22px) rotate(-52deg);
                            }
                            &.good {
                                transform: translate(60px, 22px) rotate(-8deg);
                            }
                            &.perfect {
                                transform: translate(60px, 22px) rotate(46deg);
                            }
                        }
                        .arrow-point,
                        .arrow-base {
                            fill: #f59c00;
                        }
                        
                        .circle {
                            fill: none;
                            stroke: #f59c00;
                            stroke-miterlimit: 10;
                            stroke-width: 3px;
                        }
                    }
                    .sun-placa {
                        transition: all 1s ease 0s;
                        opacity: 0;
                        transform: translateY(-50%);
                        .cls-1 {
                            fill: #f59c00;
                        }
                    }  
                    .energy-economy {
                        width: 50%;
                        padding-bottom: 43px;
                        opacity: 0;
                        transform: translateY(-50%);
                        .cls-1 {
                            fill: #f59c00;
                        }
                    }
                }
               
                &#card-placa {
                    padding-top: 0;
                }
                &.show {
                    opacity: 1;
                    .result-description,
                    .sun-placa,
                    .energy-economy {
                        opacity: 1;
                        transform: translateY(0%);
                    }
                }
            }
            &:after {
                content: '';
                clear: both;
                display: table;
            }
            
        }
        .resultado-resumo-wrapper {
            opacity:0;
            transform: translateY(50%);
            transition: all 1s ease 0s;
            &.show {
                opacity: 1;
                transform: translateY(0%);
            }
        }
        .resultado-resumo {
            color: #7A2182;
            font-size: 30px;
            text-align: center;
        }
    }
    footer {
        padding: 80px 100px 230px;
        .footer-head {
            margin-bottom: 100px;
        }
    }
    .testimonials {
        background-color: #F0F0F0;
        .testimonials-cards {
            width: 1010px;
            margin: 0 auto;
            transform: translateY(-50%);
            .testimonial-card {
                text-align: center;
                float: left;
                padding: 0 30px;
                height: 330px;
                width: 330px;
                background-color: #fff;
                border-radius: 5px;
                border: 1px solid #D1DBE3;
                .testimonial-description {
                   .text-testimonial {
                       color: #009FE3;
                       margin-bottom: 15px;
                   }
                }
                &:not(:last-child) {
                    margin-right: 10px;
                }
                .img-testimonial {
                    &.valor-img {
                        margin: 25px 0px;
                    }
                }
            }
            &:after {
                content: '';
                display: table;
                clear: both;
            }
        }
        .logo-wrapper {
            img {
                width: 95px;
                margin: 0 auto 50px;
                display: block;
            }
        }

    }
    /* form float */
    .form-item-float-label {
        position: relative;
        .form-text,
        .form-select {
            border-radius: 5px !important;
            height: 60px;
            padding-left: 20px;
        }
        .form-label {
            position: absolute;
            color: #009FE3;
            top: 15px;
            line-height: 16px;
            text-align: left;
            left: 0;
            font-size: 14px;
            pointer-events: none;
            transition: all cubic-bezier(.25,.8,.25,1) .25s;
            padding-left: 20px;
        }
        &.form-item-has-value .form-text~.form-label,
        .form-text:focus~.form-label,
        &.form-item-has-value .form-select~.form-label,
        .form-select:focus~.form-label {
            font-size: 1.2em;
            color: #14adcc;
            top: 5px;
            font-size: 10px;
        }
    }
    /*form type 2 */
    .form-type-2 {
        .row {
            margin: 0 -20px;
        }
        .form-item {
            float: left;
            margin-bottom: 10px;
            padding: {
                left: 20px;
                right: 20px;
            }
            .form-text,
            .form-select {
                float: none;
                background: rgba(0,0,0,0);
                color: #fff;
                border: 0;
                border-radius: 0 !important;
                border-bottom: 1px solid #fff !important;
                padding-left: 0;
                height: 40px;

                > option {
                    background-color: #00aaff;
                }

                &:-webkit-autofill,
                &:-webkit-autofill:hover, 
                &:-webkit-autofill:focus {
                    -webkit-text-fill-color: #fff;
                    box-shadow: 0 0 0px 1000px #00aaff inset !important;
                    -webkit-background-clip: content-box;
                }
            }
            .form-label {
                color: #fff;
                padding-left: 0;
                top: 10px;
                left: 20px;
            }
            &.col-50 {
                width: 50%;
            }
            &.col-25 {
                width: 25%;
            }
            &.col-33 {
                width: 33.33333%;
            }
            &.col-16 {
                width: 16.66667%;
            }
            &.form-item-has-value .form-text~.form-label,
            .form-text:focus~.form-label,
            &.form-item-has-value .form-select~.form-label,
            .form-select:focus~.form-label {
                color: #fff;
                top: -10px;
                font-size: 10px;
            }
            .radio-content{
                position: absolute;
                top: 0;
                right: 0;
                color: #ffffff;
                background-color: rgba(0,0,0,0);
                width: auto;
                float: none;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                label {
                    color: #fff;
                }
                input[type="radio"] {
                    margin-top: 15px;
                }
            }
            .parsley-errors-list li,
            .parsley-required,
            .parsley-type {
                color: #d02626;
                font-size: 13px;
            }
        }
        .btn {
            background-color: #F59C00;
            color: #fff;
            width: 158px;
            height: 40px;
            font-size: 14px;
            border-radius: 20px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            &[disabled] {
                background-color: #bdbdbd;
                box-shadow: none;            
            }
        }
        &:after {
            content: '';
            clear: both;
            display: table;
        }
    }
}
.reveal {
    .status {
        color: #009FE3;
        font-size: 2em;
        padding: 50px 20px;
        text-align: center;
    }
}
@media only screen and (max-width: 1200px) {
    .simulator-dot {
        .simulator {
            padding: 10px 40px;
        }
        footer {
            padding: 40px 40px 200px;
        }
    }
}
@media only screen and (max-width: 1120px) {
    .simulator-dot {
        background-position: 0% 45%;
        .result  {
            .result-cards {
                width: auto;
                .result-card,
                .result-card:not(:last-child) {
                    float: none;
                    margin: 0 auto 20px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    .simulator-dot {
        .header {
            height: auto;
        }
        .form-type-2 {
            .form-item {
                &.col-50 {
                    width: 100%
                }
                &.col-25,
                &.col-33,
                &.col-16 {
                    width:50%;
                }
            }
        }
        .testimonials {
                .testimonials-cards  {
                    width: 100%;
                    padding: 0px 20px; 
                    .testimonial-card {
                        width: 32%;
                    }
                    .testimonial-card:not(:last-child) {
                        margin-right: 2%;
                }
            }
        }
        footer {
            padding: 40px 30px 200px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .simulator-dot {
        p {
            font-size: 14px;
        }
        h2 {
            font-size: 28px;
        }
        .header {
            .tittle-wrapper {
                width: 100%;
                .title {
                    font-size: 32px;
                    line-height: 40px;
                }
                .know-more {
                    //margin-bottom: 100px;
                    &:after {
                        font-size: 18px;
                    }
                }
            }
            .slider-wrapper {

                .slider-investimento-solar {
                    .item {
                        width: 280px;
                        height: 280px;
                        img {
                            width: 75px;
                            height: 75px;
                            margin-bottom: 15px;
                        }
                        .title {
                            font-size: 18px;
                        }
                    }
                }
    
            }
        }
        .simulator {
            padding: 10px 20px;
            .box-simulator {
                #simulator-form {
                    .form-item {
                        width: 100%;
                        &.form-item-valor-mensal {
                            width: 100%;
                        }
                     }
                }
            } 
        }
        .result {
            .result-cards {
                .result-card {
                    width: 280px;
                    padding: 25px 25px 0px;
                    .result-description {
                        .text-result {
                            font-size: 14px;
                        }
                        .output-result {
                            font-size: 32px;
                        }
                    }
                }
            }
        }
        .form-type-2 {
            .form-item {
                &.col-50,
                &.col-25,
                &.col-33,
                &.col-16 {
                    width: 100%
                }
            }
            .btn-wrapper {
                text-align: center;
            }
        }
        .testimonials {
            .testimonials-cards  {
                transform: translateY(0%);
                width: 100%;
                padding: 20px; 
                .testimonial-card {
                    width: 100%;
                    height: 200px;
                }
                .testimonial-card:not(:last-child) {
                    margin-right: 0%;
                    margin-bottom: 15px;
                }
            }
        }
        footer {
            padding: 40px 30px 30px;
        }
    }
}
@media only screen and (max-width: 520px) {
    .simulator-dot {
        .simulator {
            .box-simulator {
                #simulator-form {
                    .form-item-valor-mensal {
                        margin-bottom: 80px;
                        .radio-content {
                            width: 100%;
                            top: 100%;
                        }
                    }
                }
            }
        }
        .form-type-2 {
            .row:last-child {
                .form-item {
                    margin-bottom: 60px;
                    .radio-content {
                        top: 100%;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}