.hero-content {
//    padding-top: 120px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.overlay {
    background: url(../images/files/mask-image.png) center no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

.slide-container {
    padding: 40px 0;
}

.blog-post-preview {
    padding: 30px 0;
    border-top: 1px solid $light-grey-line;
}

.read-more {
    font-family: $font-book-italic;
    color: $dark-grey
}

.exclusive-padding {
    padding-left: 2.9375rem;
    padding-right: 2.9375rem;
}

.economy h2{
    margin-bottom: 70px;
}

.owl-home{
    margin-top: 40px;
}

.economy .owl-pagination{
    margin-top: 40px;
}

.economy img{
    margin: auto;
}

.economy-text{
    padding: 0;
    margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
    .exclusive-padding {
        padding-left: auto;
        padding-right: auto;
    }
}