.infog-tooltip{
    position: absolute;
    width: 250px;
    padding: 20px 25px;
    background: #FFFFFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-family: $font-book;
    font-size: 12px;
    color: $white;
    transition: all 0.5s;
}


/*.infog-tooltip::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #FFFFFF transparent;
    display: block;
    z-index: 1;
    bottom: -10px;
    left: 110px;
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $blue;
}*/
.tool1{
    background-color: $light-orange;
    color: $white;
    bottom: 57%;
    left: 27%;
    visibility: hidden;
    opacity: 0;
}
.tool2{
    background-color: $blue;
    color: $white;
    bottom: 21%;
    left: 10%;
    visibility: hidden;
    opacity: 0;
}
.tool3{
    background-color: #BECD00;
    color: $white;
    bottom: 21%;
    left: 40%;
    visibility: hidden;
    opacity: 0;
}

.tool-on{
    visibility: visible;
    opacity: 1;
}


@media screen and (max-width: 769px) {
    .how{
        display: none;
    }
}

