.search-container{
    margin-top: 45px;
}

.search-title{
    border-bottom: 1px dashed $light-grey;
    margin-bottom: 20px;
}

.search-bar-wrap{
    position: relative;
    background-color: #f9f8f6;
    padding: 50px;
}

.searchbar input{
    padding-right: 60px;
}

#search-button{
    margin-left: -50px;
}

.result-container{
    padding: 50px 50px 15px 50px ;
}

.results-wrapper{
    background-color: #f9f8f6;
}

.result-container span{
    font-family: $font-bold;
    font-size: 18px;
}

.result-container p{
    margin-top: 10px;
}

.result-container hr{
    margin: 0!important;
}