//form validate
.parsley-success {
    //  color: #468847;
    //  background-color: #DFF0D8;
    border-bottom: 3px solid #D6E9C6 !important;
}

.parsley-error {
    //  color: #B94A48;
    //  background-color: #F2DEDE;
    border-bottom: 3px solid rgba(255, 110, 110, 1) !important;
    //  border-bottom: 3px solid #EED3D7 !important;
    margin-bottom: 8px;
}

.parsley-required,
.parsley-type {
    font-size: 13px;
    float: left;
}

#simulate-form input,
#simulate-form select {
    vertical-align: middle;
}

#custom-simulate-form .columns {
    vertical-align: middle;
    height: 50px;
}

#simulate-form ul li {
    font-size: 13px;
    float: left;
}

#simulate-form ul {
    display: none;
}

.simulator {
    margin-top: 30px;
    text-align: center;
}

.simulator h4 {
    letter-spacing: 0;
    font-family: $font-bold;
    margin-bottom: 20px;
}

.simulator select {
    height: 60px;
    padding: 0 40px 0 20px;
    border: none;
    border-radius: 0;
//    transition: all 0.6s ease 0s;
    text-shadow: 0;
    font-family: $font-semibold;
    color: $medium-grey;
    &:hover {
        cursor: pointer;
    }
    >option {
        height: 50px;
        padding: 18px 20px;
        border: 0;
        border-radius: 0;
        box-shadow: 0;
    }
}

select {
    color: #000;
    color: $medium-grey;
    text-shadow: 0;
}

.radio-content {
    background-color: $light-grey-radio;
    float: right;
    height: 60px;
    width: 140px;
    font-family: $font-semibold;
    color: $medium-grey;
    >input {
        float: none;
        margin: 24px 0;
    }
}

.radio-content-contact {
    float: right;
    width: 140px;
    font-family: $font-semibold;
    color: $medium-grey;
    position: absolute;
    right: 0;
    margin-top: 10px;
    >input {
        float: none;
        margin-right: 6px;
        margin-left: 10px;
    }
}

//.radio-content-contact input[type="radio"] {
//
//}
.extra-padding {
    padding-right: 130px;
}

.radio-content input[type="radio"] {
    margin-right: 6px;
    margin-left: 5px;
}

.login {
    width: 100%;
    bottom: 35px;
    display: block;
    height: 60px;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    >.login-select {
        background-color: $pumpkin-orange;
        height: 90px;
        width: 90px;
        box-shadow: 0 9px 27px 0 rgba(0, 0, 0, 0.22);
        border-radius: 50%;
        margin: 10px 40px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        color: $white;
        font-family: $font-bold;
        line-height: 90px;
    }
    >h4 {
        letter-spacing: 0;
        font-family: $font-bold
    }
}

.open-email-modal {
    .modal-email {
        visibility: visible;
        opacity: 1;
        transition: all 0.4s ease 0s;
    }
}

//modal email
.modal-email {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease 0s;
    >.modal-email-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 450px;
        height: auto;
        padding: 20px;
        background: $pumpkin-orange;
        padding: 50px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }
}

.modal-email-mask {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.close-modal-email {
    height: 23px;
    margin: 2px auto 40px;
    transition: all 0.2s ease 0s;
    width: 23px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.close-modal-email img {
    transition: all 0.2s ease 0s;
}

.close-modal-email:hover img {
    transform: rotate(90deg);
    cursor: pointer;
}

.result-box {
    background-color: $light-grey-post;
    padding: 50px 60px;
    text-align: center;
    margin-bottom: 20px;
    height: 460px;
    line-height: 24px;
}

.graph-result {
    height: 200px;
    margin-bottom: 30px;
    position: relative;
}

.centralize {
    display: block;
    padding-top: 40px;
}

.negative-result-simulator {
    padding: 30px 0;
}

.result-box h4 {
    padding: 0;
    margin: 0;
    line-height: auto;
}

//@keyframes roda {
//    from {
//        transform: rotate(0deg);
//    }
//    to {
//        transform: rotate(360deg);
//    }
//}
.align-svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

//gauge
.gauge {
    &.rotate {
        //         animation: roda 0.1s linear infinite;
        //        transform-origin: 73.19% 124.25%;
        transform-origin: 420px 440px;
        transition: all 0.6s ease 0s;
    }
    &.worst {
        transform: rotate(-74deg);
    }
    &.bad {
        transform: rotate(-37deg);
    }
    &.medium {
        transform: rotate(0deg);
    }
    &.good {
        transform: rotate(37deg);
    }
    &.perfect {
        transform: rotate(74deg);
    }
}

//solar
.solar {
    &.cls-1 {
        fill: #fff;
        stroke: #fff;
    }
    &.cls-1,
    &.cls-2,
    &.cls-3 {
        stroke-linejoin: round;
        stroke-width: 2px;
    }
    &.cls-2 {
        fill: #075091;
        stroke: #075091;
    }
    &.cls-3 {
        fill: #233365;
        stroke: #233365;
    }
}

@media screen and (max-width: 1024px) {
    .graph-result {
        height: auto;
        margin-bottom: 30px;
        position: relative;
    }
    .result-box {
        padding: 50px 45px;
        height: auto;
    }
}

@media screen and (max-width: 700px) {
    .login {
        padding: 0 30px;
        >.login-select {
            height: 60px;
            width: 60px;
            box-shadow: 0 9px 27px 0 rgba(0, 0, 0, 0.22);
            background-size: 20%;
            margin: 10px 10px;
            line-height: 60px;
        }
    }
    .simulator select {
        height: 50px;
        padding: 0 40px 0 20px;
        border: none;
        border-radius: 0;
        transition: all 0.6s ease 0s;
        text-shadow: 0;
        font-family: $font-semibold;
        color: $medium-grey;
    }
}