.solutions-slider{
    height: 120%;
    background-color: $light-orange;
}

.solutions-slider > img{
    background: none;
    margin: auto;
    padding: 50px;
    padding-bottom: 70px;
    display: block;
}

.case-text{
    padding: 50px;
}

.owl-wrapper-outer{
    background-color: $light-orange;
}

.solutions .owl-pagination{
    margin-top:-60px;
}

@media screen and (max-width: 40em){
    
    .solutions-slider > img{
        padding-left: 10px;
        padding-right: 10px;
    }
}