.button {
    width: auto;
    height: auto;
    padding: 14px 50px;
    margin: 10px 0;
    border-radius: 40px;
    line-height: 20px;
    background-color: transparent;
    text-transform: uppercase;
    font-family: $font-semibold;
    transition: all 0.6s ease 0s;
    &:hover {
        transition: all 0.6s ease 0s;
        opacity: 1;
    }
    &.white {
        border: 1px solid $white;
        color: $white;
        &:hover {
            background-color: $white;
            color: $blue;
        }
    }
    &.blue {
        border: 1px solid $blue;
        color: $blue &:hover {
            background-color: $blue;
            color: $white;
        }
    }
    &.pumpkin-orange {
        border: 1px solid $pumpkin-orange;
        color: $pumpkin-orange;
        &:hover {
            background-color: $pumpkin-orange;
            color: $white;
        }
    }
    &.light-orange {
        border: 1px solid $light-orange;
        color: $light-orange;
        &:hover {
            background-color: $light-orange;
            color: $white;
        }
    }
    &.pumpkin-orange-text {
        &:hover {
            color: $pumpkin-orange;
            background-color: $white;
        }
    }
    &.scroll-button {
        border: 1px solid $blue !important;
        background-color: transparent;
        color: $blue !important;
        transition: all 0.6s ease 0s;
        &:hover {
            background-color: $blue;
            color: $white !important;
            transition: all 0.6s ease 0s;
        }
    }
}

.button-full {
    background-color: $lightblue;
    color: $white;
    border: none;
}

.hero-simulate-button {
    margin: 34px 0;
    padding: 14px 35px;
    background-color: rgba(0, 0, 0, 0.1);
}

.button-label {
    font-family: $font-book;
    font-size: 16px;
    line-height: 2.1;
    text-align: center;
    color: $white;
}

.button-label-smaller {
    font-family: $font-book;
    font-size: 14px;
    line-height: 2.2;
    text-align: center;
    color: $white;
}

.contact-submit {
    color: $blue;
    font-family: $font-semibold;
    &:after {
        font-family: 'Material Icons';
        content: "arrow_forward";
        padding-left: 20px;
        transition: all 0.6s ease 0s;
    }
    &:hover::after {
        padding-left: 30px;
        transition: all 0.6s ease 0s;
    }
}

.simulate-submit {
    color: $blue;
    font-family: $font-semibold;
    padding-top: 7px;
    &:after {
        font-family: 'Material Icons';
        content: "arrow_forward";
        padding-left: 20px;
        transition: all 0.6s ease 0s;
    }
    &:hover::after {
        padding-left: 30px;
        transition: all 0.6s ease 0s;
    }
}

.newsletter-submit {
    margin-top: 10px;
    color: $blue;
    font-family: $font-semibold;
    &:after {
        font-family: 'Material Icons';
        content: "arrow_forward";
        padding-left: 20px;
        transition: all 0.6s ease 0s;
    }
    &:hover::after {
        padding-left: 30px;
        transition: all 0.6s ease 0s;
    }
}

.next-post {
    color: $blue;
    font-family: $font-semibold;
    margin-bottom: 20px;
    margin-right: 30px;
    text-align: right;
    &:after {
        font-family: 'Material Icons';
        content: "arrow_forward";
        padding-left: 20px;
        transition: all 0.6s ease 0s;
        position: absolute;
    }
    &:hover::after {
        padding-left: 30px;
        transition: all 0.6s ease 0s;
    }
}

.prev-post {
    color: $blue;
    font-family: $font-semibold;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 40px;
    &:before {
        font-family: 'Material Icons';
        content: "arrow_back";
        padding-right: 20px;
        transition: all 0.6s ease 0s;
        position: absolute;
        margin-left: -40px;
    }
    &:hover::before {
        margin-left: -50px;
        transition: all 0.6s ease 0s;
    }
}

.tooltip {
    background-color: $light-orange;
    color: $white;
    font-family: $font-book;
    font-size: 80%;
    padding: 25px;
    max-width: 13rem !important;
    border-radius: 0;
}
.tooltip::before {
    border-color: transparent transparent $light-orange;

}

.tooltip.top::before {
    border-color: $light-orange transparent transparent;
}

.has-tip {
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 800px) {
    .hero-simulate-button {
        display: none;
    }
}