.icon {
    display: inline-block;
    margin: 10px 6px 0 0;
}

.icon-header {
    height: 40px;
    width: 40px;
    float: left;
    padding: 7px;
}

.facebook {
    width: 35px;
    height: 35px;
    background: url(../images/icons/facebook.svg) center no-repeat;
}

.login-select {
    &.google-plus {
        background: url(../images/icons/google-plus.svg) center no-repeat;
        background-size: 50%;
    }
    &.facebook {
        background: url(../images/icons/facebook.svg) center no-repeat;
        background-size: 20%;
    }
    &:hover {
        opacity: 1;
        background-color: $light-orange !important;
    }
}

.youtube {
    width: 35px;
    height: 35px;
    background: url(../images/icons/youtube.svg) 100% no-repeat;
}

.icon-share {
    height: 50px;
    width: 50px;
    border: 1px solid $light-grey-line;
    border-radius: 50%;
    &.google {
        background: url(../images/icons/google-plus-grey.svg) center no-repeat;
        background-size: 50%;
    }
    &.facebook {
        background: url(../images/icons/facebook-grey.svg) center no-repeat;
        background-size: 50%;
    }
    &.twitter {
        background: url(../images/icons/twitter-grey.svg) center no-repeat;
        background-size: 50%;
    }
    &.pintrest {
        background: url(../images/icons/pinterest-grey.svg) center no-repeat;
        background-size: 50%;
    }
}

.help {
    font-family: 'Material Icons';
    content: "help";
    color: $light-grey;
    vertical-align: middle;
    margin: 0;
    &:after {
        font-family: 'Material Icons';
        content: "help";
        transition: all 0.6s ease 0s;
        font-size: 24px;
        vertical-align: middle;
    }
    &:hover::after {
        color: $light-orange;
    }
}

.opcional {
    padding-left: 4px;
    color: $dark-grey;
    font-family: $font-book-italic;
    font-size: 14px;
    display: inline-block;
}

.input-icon {
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 23px;
    padding-left: 40px;
    &.user {
        background-image: url(../images/icons/user.svg);
    }
    &.mail {
        background-image: url(../images/icons/mail.svg);
    }
    &.user-lo {
        background-image: url(../images/icons/user-lo.svg);
    }
    &.mail-lo {
        background-image: url(../images/icons/mail-lo.svg);
    }
}

@media screen and (max-width: 700px) {
    .login-select {
        font-size: 14px;
        &.google-plus {
            background: url(../images/icons/google-plus.svg) center no-repeat;
            background-size: 50% !important;
        }
    }
}