#infog-svg {
    margin: 0 0 2% 0;
    width: 80%;
    height: 80%;
}

@media screen and (max-width: 1024px) {
    .infog-wrap>svg{
        margin: auto;
    }
    #infog-svg {
        display: block;
        margin: 0 0 2% 0;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 80%;
    }
    .sun{
        transform: translateX(-35px);
    }
}



//===============SVG START=================//
.st0 {
    fill: #F2F2F2;
    stroke: #F2F2F2;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linejoin: round;
}

.st2 {
    fill: #F18F09;
    stroke: #F18F09;
    stroke-width: 2;
    stroke-linejoin: round;
}

.st3 {
    fill: none;
    stroke: #e1e525;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-dasharray: 0 8;
    stroke-linecap: round;
    animation: dash 1s linear forwards infinite;
}
.st3-background {
    fill: none;
    stroke: #BECD00;
    stroke-width: 4;
    stroke-linejoin: round;
}

.st4 {
    fill: none;
    stroke: #6ac7ea;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-dasharray: 0 8;
    stroke-linecap: round;
    animation: dash 1s linear forwards infinite;
}

.st4-background{
    fill: none;
    stroke: #00AAFF;
    stroke-width: 4;
    stroke-linejoin: round;
}

.st5 {
    fill: none;
    stroke: #f9e8a0;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-dasharray: 0 8;
    stroke-linecap: round;
    animation: dash 1s linear forwards infinite;
}

.st5-background{
    fill: none;
    stroke: #F4D958;
    stroke-width: 4;
    stroke-linejoin: round;
}

.st6 {
    fill: none;
}

.st7 {
    fill: #FCE37C;
}

.st8 {
    fill: #8B8B8B;
}

.st9 {
    fill: #075091;
    stroke: #075091;
    stroke-width: 2;
    stroke-linejoin: round;
}

.st10 {
    fill: #233365;
    stroke: #233365;
    stroke-width: 2;
    stroke-linejoin: round;
}

.st11 {
    fill: #F2F2F2;
    stroke: #F2F2F2;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st12 {
    fill: #191919;
}

.st13 {
    fill: #D8D8D8;
    stroke: #D8D8D8;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st14 {
    fill: #6AC7EA;
}

.st15 {
    fill: #F4D958;
}

.st16 {
    fill: #F4D958;
    stroke: #F4D958;
    stroke-width: 2;
    stroke-linejoin: round;
}

.st17 {
    fill: none;
    stroke: #8B8B8B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st18 {
    fill: none;
    stroke: #D8D8D8;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st19 {
    fill: #8B8B8B;
    stroke: #8B8B8B;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st20 {
    fill: #636363;
}

.st21 {
    fill: #D8D8D8;
}

.st22 {
    fill: #F2F2F2;
}

.st23 {
    fill: #F4D958;
    stroke: #F4D958;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st24 {
    fill: #00AAFF;
}

.st25 {
    fill: #FFFFFF;
    pointer-events: none;
}

.st26 {
    fill: #BECD00;
}

.sun * {
    animation: sun 1s linear alternate infinite;
}

.pulsing1 {
    animation: pulsing1 2s ease-out infinite;
}
.pulsing2{
    animation: pulsing2 2s ease-out infinite;
}
.pulsing3 {
    animation: pulsing3 2s ease-out infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset:0;
    }
    to {
        stroke-dashoffset: 8;
    }
}

@keyframes sun{
    from{
        transform: scale(1);
        fill: $yellow;
        stroke: $yellow;
    }
    to{
        transform: translateX(-32px) scale(1.1);;
        fill: $light-orange;
        stroke: $light-orange;
    }
}

@keyframes pulsing1{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: translateX(-151px) translateY(-115px)scale(1.7);
        opacity: 0;
    }
}
@keyframes pulsing2{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: translateX(-109px) translateY(-198px)scale(1.7);
        opacity: 0;
    }
}
@keyframes pulsing3{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: translateX(-227px) translateY(-200px)scale(1.7);
        opacity: 0;
    }
}