.rounded-rectangle-large {
    width: 180px;
    height: 10px;
    border-radius: 5.5px;
    margin: 35px 0 35px;
}

.rounded-rectangle-medium {
    width: 116px;
    height: 10px;
    border-radius: 5.5px;
    margin: 35px 0 35px;
}

.rounded-rectangle-small {
    width: 50px;
    height: 8px;
    border-radius: 4px;
    margin: 35px 0 35px;
}

.rounded-rectangle-large,
.rounded-rectangle-medium,
.rounded-rectangle-small {
    &.pumpkin-orange {
        background-color: $pumpkin-orange;
    }
    &.light-orange {
        background-color: $light-orange;
    }
    &.white {
        background-color: $white;
    }
    &.blue {
        background-color: $blue;
    }
}