.download-box {
    //    width: 340px;
    height: auto;
    background-color: $pumpkin-orange;
    position: relative;
    right: 0;
    top: -180px;
    margin: 0;
    padding: 40px;
    float: right;
    &.blog {
        top: 0 !important;
        width: auto !important;
        margin-top: 30px;
    }
    li {
        color: white;
    }
}

.how-box {
    position: absolute;
    top: -200px;
}

@media screen and (max-width: 1024px) {
    .download-box {
        max-width: 400px;
//        width: auto;
        height: 406px;
        background-color: $pumpkin-orange;
        position: relative;
        right: 0;
        top: 20px;
        margin: 0;
        float: left;
        &.blog {
            top: 0 !important;
            width: auto !important;
            margin-top: 20px;
            display: none;
        }
    }
    .how-box {
        display: none;   
    }
}

