footer {
    padding: 40px 0 60px;
    height: auto;
    background-color: $blue;
}

.logo-footer {
    width: 200px;
    height: 80px;
    background: url(../images/files/logo.png) left no-repeat;
}

footer li {
    color: $white;
    font-family: $font-semibold;
    padding: 2px 0;
}

.footer-input {
    padding-left:  0 !important;
}

//.center-box {
//    padding: 30px !important;
//    background-color: $light-grey
//}