.open-menu,
.open-search {
    header {
        background-color: $blue;
//        transition-delay: 0.5s;
        box-shadow: none;
    }
    .logo-start {
        display: block !important;
    }
    .logo-scroll {
        display: none !important;
    }
    .button.scroll-button {
        border: 1px solid $white !important;
        color: $white !important;
        &:hover {
            background-color: $white !important;
            color: $blue !important;
        }
    }
    .search {
        fill: $white !important;
    }
    .btn--menu {
        color: $white !important;
    }
    .menu-border-bg {
        stroke: $white !important;
    }
    .menu-border-progress {
        stroke: $white !important;
    }
    .btn--menu svg.burger .rect {
        fill: $white !important;
    }
}

.open-search {
    #search {
        display: none;
    }
    .close-animatedModal {
        display: block;
    }
}

.open-search {
    .menu-overlay {
        z-index: 999
    }
}

header {
    height: 120px;
    max-width: 1440px;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    z-index: 999;
}

.fixed {
    position: fixed;
    background-color: white;
    box-shadow: 0px 1px 3px #e8e8e8;
    transition: all 0.6s ease 0s;
    top: -15px;
    height: 105px;
}

.logo {
    padding: 38px 0;
    width: 120px;
    float: left;
}

.logo-scroll {
    display: none;
}

.simulate-content {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    float: left;
}

.menu {
    float: right;
    width: 160px;
    height: 40px;
    margin-top: 40px;
    position: relative;
}

// menu
.btn--menu {
    margin-top: 2px;
    color: white;
    width: 115px;
    height: 38px;
    font: 0.75em/38px $font-semibold, sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    margin-left: 6px;
}

.btn--menu svg.border {
    height: 100%;
    right: 0;
    position: absolute;
    top: -1px;
    width: 100%;
}

.btn--menu svg.burger {
    height: 9px;
    margin: 10px 0 0 6px;
    overflow: visible;
    width: 18px;
    fill: $white;
}

.btn--menu svg.border {
    height: 100%;
    left: 0;
    position: absolute;
    top: -1px;
    width: 100%
}

.btn--menu svg.border path.menu-border-bg {
    opacity: 0.4;
    //    stroke: #ffff
}

.btn--menu svg.border path.menu-border-progress {
    -webkit-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    stroke: #a4a4a4
}

.menu .btn--menu svg.border path.menu-border-progress {
    stroke: #FFF
}

.btn--menu svg.burger {
    height: 9px;
    margin-left: 6px;
    overflow: visible;
    width: 17px
}

.btn--menu svg.burger .rect {
    fill: #a4a4a4;
    transform-style: preserve-3d;
    -webkit-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1)
}

.menu .btn--menu svg.burger .rect {
    fill: #FFF
}

.menu .btn--menu svg.burger .rect {
    fill: #fff
}

.btn--menu svg.burger .rect--top {
    -webkit-transform-origin: 5px 4px 0;
    -moz-transform-origin: 5px 4px 0;
    -ms-transform-origin: 5px 4px 0;
    -o-transform-origin: 5px 4px 0;
    transform-origin: 5px 4px 0
}

.btn--menu svg.burger .rect--bottom {
    -webkit-transform-origin: 3px 4px 0;
    -moz-transform-origin: 3px 4px 0;
    -ms-transform-origin: 3px 4px 0;
    -o-transform-origin: 3px 4px 0;
    transform-origin: 3px 4px 0
}

.btn--menu:hover .menu-border-progress {
    stroke-dashoffset: 0
}

.menu .btn--menu:hover {
    color: #ffff;
    cursor: pointer;
}

.open-menu .btn--menu .burger .rect--top {
    -webkit-transform: rotate(45deg) translateZ(0px);
    -moz-transform: rotate(45deg) translateZ(0px);
    -ms-transform: rotate(45deg) translateZ(0px);
    -o-transform: rotate(45deg) translateZ(0px);
    transform: rotate(45deg) translateZ(0px)
}

.open-menu .btn--menu .burger .rect--middle {
    opacity: 0;
    -webkit-transform: scale(0) translateZ(0px);
    -moz-transform: scale(0) translateZ(0px);
    -ms-transform: scale(0) translateZ(0px);
    -o-transform: scale(0) translateZ(0px);
    transform: scale(0) translateZ(0px)
}

.open-menu .btn--menu .burger .rect--bottom {
    -webkit-transform: rotate(-45deg) translateZ(0px);
    -moz-transform: rotate(-45deg) translateZ(0px);
    -ms-transform: rotate(-45deg) translateZ(0px);
    -o-transform: rotate(-45deg) translateZ(0px);
    transform: rotate(-45deg) translateZ(0px)
}

//fixed status
.fixed {
    .btn--menu {
        color: #a4a4a4;
    }
    .btn--menu svg.burger {
        fill: #a4a4a4;
    }
    .btn--menu svg.burger .rect {
        fill: #a4a4a4
    }
    .btn--menu svg.burger .rect {
        fill: #a4a4a4
    }
    .btn--menu svg.border path.menu-border-bg {
        opacity: 0.4;
        stroke: #a4a4a4
    }
    .btn--menu:hover {
        color: #a4a4a4;
        cursor: pointer;
    }
    .btn--menu svg.border path.menu-border-progress {
        stroke: #a4a4a4
    }
    .search {
        fill: #a4a4a4;
    }
    .logo-start {
        display: none;
    }
    .logo-scroll {
        display: block;
    }
}

//menu overlay 
.open-menu {
    height: 100vh !important;
    overflow: hidden !important
}

.open-menu .menu-overlay {
    opacity: 1;
    transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
    visibility: visible;
}

//.open-menu header {
//    background-color: $blue;
//    transition: all 0.8s ease 0s;
//    transition-delay: 1s;
//}
.menu-overlay {
    background: $blue repeat-y scroll center top / 100% auto;
    box-sizing: border-box;
    color: #fff;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    text-align: center;
    top: 0;
    transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    z-index: 100;
}

.panel {
    height: calc(100vh - 240px);
    margin: 160px 0 80px;
}

.panel ul {
    padding: 0;
    margin-left: 0;
}

.panel .no-line::after {
    display: none;
    margin: 0 auto;
}

.panel li {
    padding: 1.4vh 10px 0;
    font-family: $font-semibold;
    font-size: 20px;
}

.panel li::after {
    background-color: rgba(255, 255, 255, 0.3);
    content: "";
    display: block;
    height: 1px;
    margin: 15px auto 0;
    width: 20px;
}

.light {
    font-family: $font-book;
    font-size: 18px;
    padding: 5px 0;
}

@media screen and (max-width: 500px) {
    .logo {
        padding: 38px 0;
        width: 100px;
        float: left;
    }
    .panel li {
        font-size: 18px;
    }
    .light {
        font-size: 16px;
    }
}