    .item-carrossel {
        height: 500px;
    }
    
    .solucoes-slider {
        height: 500px;
    }
    
    #owl-demo .item img {
        display: block;
        width: 100%;
    }
    
    .case-text {
        padding: 50px;
    }
    
    .steps-case {
        padding-top: 0;
        margin-bottom: 81px;
    }
    /* ---- mason ---- */
    
    .mason-container {
        margin: 100px 0 20px 0;
        transition: all 0.6s ease 0s;
    }
    
    .material .mason-container {
        margin-top: 0;
    }
    /* clearfix */
    
    .mason-container:after {
        content: '';
        display: block;
        clear: both;
    }
    /* ---- mason-item ---- */
    
    .mason-sizer,
    .mason-item {}
    
    .mason-item {
        height: auto;
        float: left!important;
        border: 10px solid $white;
        outline: 1px solid $light-grey-line;
        outline-offset: -10px;
        padding: 0;
    }
    
    .mason-image {
        width: 100%;
    }
    
    .mason-desc {
        padding: 45px 45px;
    }
    
    .mason-category {
        text-transform: uppercase;
    }
    
    .mason-title {
        font-family: $font-book;
        font-size: 16px;
    }
    
    .mason-last {
        font-family: $font-book;
        font-size: 16px;
        color: $light-grey;
        float: right;
        text-transform: uppercase;
    }
    
    .mason-fixed {
        position: relative !important;
    }