.newsletter {
    margin: 40px 0 20px;
}

.newsletter h4 {
    font-family: $font-bold;
    letter-spacing: 0.005em;
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    .del-pad-left {
        padding-left: 0;
    }
}

@media screen and (max-width: 640px) {
    .newsletter .columns {
        padding: 0;
    }
}