#animatedModal {
    background: rgba(0,170,255,0.95);
    box-sizing: border-box;
    color: #fff;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    text-align: center;
    top: 0;
    transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    z-index: 100;
}
.open-search {
    height: 100vh;
    overflow: hidden;
}
.open-search #animatedModal {
    opacity: 1;
    visibility: visible;
}

.search-content {
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-55%);
}

.modal-content {
    max-width: 640px;
    margin: 0 auto;
    padding: 20px;
}

.close-animatedModal {
    transition: all 0.2s ease 0s;
    height: 23px;
    width: 23px;
    margin: 2px auto 40px;
    display: none;
}

.close-animatedModal img {
    transition: all 0.2s ease 0s;
}

.close-animatedModal:hover img {
    transform: rotate(90deg);
    cursor: pointer;
}