.fotorama__arr {
    height: 50px !important;
    width: 50px !important;
}

.fotorama__arr--prev,
.fotorama__arr--next {
    background-color: $blue !important;
    border-radius: 50%;
    text-align: center;
    color: $white;
//    padding-top: 11px;
    margin: 0 10px;
    line-height: 48px;
}

.fotorama__arr--prev:after {
    font-family: 'Material Icons';
    content: "arrow_back";
    transition: all 0.6s ease 0s;
    font-size: 22px;
    vertical-align: middle;
}

.fotorama__arr--next:after {
    font-family: 'Material Icons';
    content: "arrow_forward";
    transition: all 0.6s ease 0s;
    font-size: 22px;
}

.fotorama__thumb-border {
    border-color: $blue;
}