
.solutions-box{
    background-color: $blue;
    float: right!important;
    padding: 20px 50px 50px 50px;
    max-width: 510px;
}

.solutions-box span{
    font-family: $font-bold;
    color: $white;
    font-size: 24px;
    hyphens: manual;
    margin-bottom: 30px;
}

.solutions-box p{
    margin: 30px 0 50px 0;
}

.solutions-box >.button{
    min-width: 150px;
    width: 100%!important;    
    padding: 14px 20px;
}
