.steps-content {
    margin-top: 60px;
}

.steps-last{
    padding-top: 0;    
    margin-bottom: 81px;
}

.step-icon {
    padding: 40px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box-steps {
    padding: 35px 40px;
    background-color: $light-orange;
    height: 150px;
}

.item {
    width: 22%;
    float: left;
    position: relative;
}

.item-expand {
    padding: 35px 40px;
    background-color: $pumpkin-orange;
    position: absolute;
    opacity: 0;
    transition: all 0.6s ease 0s;
    visibility: hidden;
}

.item:hover > .item-expand {
    visibility: visible;
    opacity: 1;
    transition: all 0.6s ease 0s;
}

.start-now {
    position: relative;
    z-index: 9;
    margin-top: 20px;
}

.arrow-step {
    width: 4%;
    float: left;
    height: 300px;
    padding: 0 10px;
}

.arrow-step img {
    height: 100%;
}

.content-img img {
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .box-steps {
        padding: 25px 25px;
        background-color: $light-orange;
        height: 140px;
    }
    .step-icon {
        padding: 30px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .item-expand {
        display: none;
    }
    .item {
        width: 22%;
        float: left;
    }
    .arrow-step {
        width: 4%;
        float: left;
        height: 200px;
        text-align: center;
    }
    .exclusive-padding {
        padding-left: auto;
        padding-right: auto;
    }
}

@media screen and (max-width: 900px) {
    
    .start-now {
    position: relative;
    z-index: 9;
    margin-top: 0px;
}
    .step-icon {
        padding: 30px;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .box-steps {
        padding: 25px 30px;
        background-color: $light-orange;
        height: 130px;
        max-width: 400px;
        margin: 0 auto;
    }
    .item-expand {
        display: none;
    }
    .item {
        width: 100%;
        float: left;
        padding: 15px;
        text-align: center;
    }
    .arrow-step {
        width: 100%;
        float: left;
        height: 50px;
        text-align: center;
    }
    .arrow-step img {
        height: 100%;
        transform: rotate(90deg);
    }
    .exclusive-padding {
        padding-left: auto;
        padding-right: auto;
    }
}