@font-face {
  font-family: "Clan Offc W01 Bold";
  src: url("../fonts/ff_clan/1379310/01b0af06-ad3c-41d6-9b21-069625f80868.eot?#iefix");
  src: url("../fonts/ff_clan/1379310/01b0af06-ad3c-41d6-9b21-069625f80868.eot?#iefix") format("eot"), url("../fonts/ff_clan/1379310/aebe1a70-5ea6-4c4c-81ba-8310e3509589.woff2") format("woff2"), url("../fonts/ff_clan/1379310/096d2b37-f42f-43f3-880c-41bb05a467ed.woff") format("woff"), url("../fonts/ff_clan/1379310/44ee6142-b365-41af-9135-715c61a071c4.ttf") format("truetype"); }

@font-face {
  font-family: "Clan Offc W01 Bold Italic";
  src: url("../fonts/ff_clan/1379316/c187376d-23a5-4996-a4d3-32dbf59c33f8.eot?#iefix");
  src: url("../fonts/ff_clan/1379316/c187376d-23a5-4996-a4d3-32dbf59c33f8.eot?#iefix") format("eot"), url("../fonts/ff_clan/1379316/0779d22d-0fdf-4f7a-b9d4-0785b2966aa3.woff2") format("woff2"), url("../fonts/ff_clan/1379316/08f616ac-04e0-411b-a4a0-0b53288556ec.woff") format("woff"), url("../fonts/ff_clan/1379316/c78ead8f-e9af-4924-8dc4-6c33bfc1c86c.ttf") format("truetype"); }

@font-face {
  font-family: "Clan Offc W01 Book";
  src: url("../fonts/ff_clan/1379334/b0e0cfcb-ae44-4bfe-9b09-9c74882cfcc3.eot?#iefix");
  src: url("../fonts/ff_clan/1379334/b0e0cfcb-ae44-4bfe-9b09-9c74882cfcc3.eot?#iefix") format("eot"), url("../fonts/ff_clan/1379334/90089f64-f178-4755-82a0-8f89a7ad02f4.woff2") format("woff2"), url("../fonts/ff_clan/1379334/00fa0f5a-a161-4fb8-8d0c-75da5b94021a.woff") format("woff"), url("../fonts/ff_clan/1379334/644e8119-7082-4314-88d7-38ea205fbebc.ttf") format("truetype"); }

@font-face {
  font-family: "Clan Offc W01 Book Italic";
  src: url("../fonts/ff_clan/1379340/c45ea5e4-ff94-4a48-83d5-7230e648ab48.eot?#iefix");
  src: url("../fonts/ff_clan/1379340/c45ea5e4-ff94-4a48-83d5-7230e648ab48.eot?#iefix") format("eot"), url("../fonts/ff_clan/1379340/ec4c80f9-8913-4ff8-b201-7b63473459ad.woff2") format("woff2"), url("../fonts/ff_clan/1379340/63178927-9269-4438-bfb7-d8b76bd08774.woff") format("woff"), url("../fonts/ff_clan/1379340/2800f8cd-6fe3-416c-ab58-6ac9bc0c2f77.ttf") format("truetype"); }

@font-face {
  font-family: "Clan Offc W01 Medium";
  src: url("../fonts/ff_clan/1379862/60b5c6cd-07b5-4786-89e7-a63e540fa2f0.eot?#iefix");
  src: url("../fonts/ff_clan/1379862/60b5c6cd-07b5-4786-89e7-a63e540fa2f0.eot?#iefix") format("eot"), url("../fonts/ff_clan/1379862/18d9e66d-0f4b-4dc3-882b-88b324651b26.woff2") format("woff2"), url("../fonts/ff_clan/1379862/84c9c803-560a-4dd5-a7a9-4f606391921b.woff") format("woff"), url("../fonts/ff_clan/1379862/c3c78fcc-9ed1-4cde-9744-901ff3162d83.ttf") format("truetype"); }

@font-face {
  font-family: "Clan Offc W01 Medium Italic";
  src: url("../fonts/ff_clan/1379868/41eb2581-84f5-4f69-bad5-e904f53fc91d.eot?#iefix");
  src: url("../fonts/ff_clan/1379868/41eb2581-84f5-4f69-bad5-e904f53fc91d.eot?#iefix") format("eot"), url("../fonts/ff_clan/1379868/eefd0413-f9a8-45a3-8c87-7941ef8182a6.woff2") format("woff2"), url("../fonts/ff_clan/1379868/913cf755-cc3e-4f07-a61d-f298bc5d6912.woff") format("woff"), url("../fonts/ff_clan/1379868/4c777112-dd52-4762-9bdc-d09c888198ab.ttf") format("truetype"); }

@font-face {
  font-family: "Clan Offc W01 News";
  src: url("../fonts/ff_clan/1380054/b097eded-c2da-43a0-a596-8d18d3d9dc18.eot?#iefix");
  src: url("../fonts/ff_clan/1380054/b097eded-c2da-43a0-a596-8d18d3d9dc18.eot?#iefix") format("eot"), url("../fonts/ff_clan/1380054/e5b21225-38cc-41c3-94c2-6caea2dd23a0.woff2") format("woff2"), url("../fonts/ff_clan/1380054/e985298c-b775-41f6-a8a6-e679e547a17f.woff") format("woff"), url("../fonts/ff_clan/1380054/03d59716-f79a-4f73-a1bc-bfb28c1603dc.ttf") format("truetype"); }

@font-face {
  font-family: "Clan Offc W01 News Italic";
  src: url("../fonts/ff_clan/1380060/17b51cd8-63fc-4ddd-b3d9-fbfc723e9367.eot?#iefix");
  src: url("../fonts/ff_clan/1380060/17b51cd8-63fc-4ddd-b3d9-fbfc723e9367.eot?#iefix") format("eot"), url("../fonts/ff_clan/1380060/5f4ee5b0-1f03-4e5e-ac3f-b1f40cace3ee.woff2") format("woff2"), url("../fonts/ff_clan/1380060/436e9d0f-eb83-4cc0-950a-492c68f2aad1.woff") format("woff"), url("../fonts/ff_clan/1380060/a8f66030-bb72-443e-a0eb-1ac5e453b1ec.ttf") format("truetype"); }

/* Colors */
/* Fonts */
body {
  font-family: "Clan Offc W01 Book"; }

.global {
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
  position: relative;
  background-color: #ffffff; }

.reset .columns:first-child {
  padding-left: 0;
  padding-right: auto; }

.reset .columns:last-child {
  padding-left: auto;
  padding-right: 0; }

.relative {
  position: relative; }

.margin-bottom-60 {
  margin-bottom: 60px !important; }

.margin-bottom-40 {
  margin-bottom: 40px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-top-40 {
  margin-top: 40px !important; }

.no-margin {
  margin: 0 !important; }

.padding-bottom-40 {
  padding-bottom: 40px !important; }

.no-padding {
  padding: 0 !important; }

.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.x-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.y-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.hero {
  height: 660px;
  background: no-repeat;
  background-position: 30%;
  position: relative; }

.intro {
  padding: 60px 0; }

.economy {
  padding: 40px 0;
  background-color: #f4b323; }

.steps {
  padding: 100px 0 80px; }

.cases {
  padding: 40px 0 0; }

.solutions {
  margin-top: 75px; }

.search {
  padding-top: 100px; }

.material {
  padding: 60px 0; }

.news {
  padding: 100px 0; }

.how {
  background-color: #6ac7ea; }

.results {
  margin-top: 30px; }

.consult {
  padding: 60px 0; }

.categories, .blog, .cases-detail {
  padding: 0 0 80px; }

.form {
  padding: 100px 0; }

.simulator-result {
  padding: 80px 0 0; }

.relative {
  position: relative; }

@media screen and (max-width: 1024px) {
  .hero {
    height: 100vh;
    background: no-repeat;
    background-position: center;
    position: relative; }
  .extra-height {
    height: 135vh !important; }
  .reset .columns:first-child {
    padding-right: 0; }
  .reset .columns:last-child {
    padding-left: 0; } }

@media screen and (max-width: 800px) {
  .hero {
    height: 100vh;
    background: no-repeat;
    background-position: center;
    position: relative; } }

@media screen and (max-width: 500px) {
  .hero {
    height: 100vh;
    background: no-repeat;
    background-position: -1000px;
    position: relative; } }

h2.pumpkin-orange,
h3.pumpkin-orange,
h4.pumpkin-orange,
h5.pumpkin-orange,
p.pumpkin-orange,
li.pumpkin-orange,
a.pumpkin-orange {
  color: #f18f09; }

h2.light-orange,
h3.light-orange,
h4.light-orange,
h5.light-orange,
p.light-orange,
li.light-orange,
a.light-orange {
  color: #f4b323; }

h2.white,
h3.white,
h4.white,
h5.white,
p.white,
li.white,
a.white {
  color: #ffffff; }

h2.blue,
h3.blue,
h4.blue,
h5.blue,
p.blue,
li.blue,
a.blue {
  color: #00aaff; }

h2.dark-grey,
h3.dark-grey,
h4.dark-grey,
h5.dark-grey,
p.dark-grey,
li.dark-grey,
a.dark-grey {
  color: #4c4c4e; }

h2.medium-grey,
h3.medium-grey,
h4.medium-grey,
h5.medium-grey,
p.medium-grey,
li.medium-grey,
a.medium-grey {
  color: #969696; }

/* Text */
h1 {
  font-family: "Clan Offc W01 Bold";
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 3px;
  color: #ffffff; }

h2 {
  font-family: "Clan Offc W01 Bold";
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: 2.4px; }

h3 {
  font-family: "Clan Offc W01 Bold";
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 1.1px; }

h4 {
  font-family: "Clan Offc W01 Medium";
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 1.2px; }

h5 {
  font-family: "Clan Offc W01 Book";
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 1.2px; }

p {
  font-family: "Clan Offc W01 Book";
  font-size: 16px;
  line-height: 1.6; }

.date-text {
  font-family: "Clan Offc W01 Book Italic";
  font-size: 16px;
  color: #4c4c4e;
  margin: 0 0 10px; }

.category-blue {
  font-family: "Clan Offc W01 Bold";
  font-size: 16px;
  line-height: 1.6;
  color: #00aaff; }

.category-orange {
  font-family: "Clan Offc W01 Bold";
  font-size: 16px;
  line-height: 1.6;
  color: #f4b323;
  color: #f4b323; }

.item-text {
  font-size: 22px; }

.category-tag {
  font-size: 15px;
  font-family: "Clan Offc W01 Medium";
  margin-bottom: 16px; }
  .category-tag.light-orange {
    color: #f4b323; }
  .category-tag.blue {
    color: #00aaff; }
  .category-tag.dark-grey {
    color: #4c4c4e; }

@media screen and (max-width: 1280px) {
  h1 {
    font-family: "Clan Offc W01 Bold";
    font-size: 54px;
    line-height: 1.2;
    letter-spacing: 3px;
    color: #ffffff; }
  h2 {
    font-family: "Clan Offc W01 Bold";
    font-size: 42px;
    line-height: 1;
    letter-spacing: 2.4px; }
  h3 {
    font-family: "Clan Offc W01 Bold";
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 1.2px; }
  p {
    font-family: "Clan Offc W01 Book";
    font-size: 16px;
    line-height: 1.6; } }

@media screen and (max-width: 1024px) {
  h1 {
    font-family: "Clan Offc W01 Bold";
    font-size: 46px;
    line-height: 1.2;
    letter-spacing: 3px;
    color: #ffffff; }
  h2 {
    font-family: "Clan Offc W01 Bold";
    font-size: 40px;
    line-height: 1;
    letter-spacing: 2.4px; }
  h3 {
    font-family: "Clan Offc W01 Bold";
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 1.2px; }
  p {
    font-family: "Clan Offc W01 Book";
    font-size: 16px;
    line-height: 1.6; }
  .download-box {
    width: auto;
    height: 406px;
    background-color: #f18f09;
    position: relative;
    right: 0;
    top: 0;
    margin: 0; }
  .item-text {
    font-size: 20px; } }

@media screen and (max-width: 700px) {
  h1 {
    font-family: "Clan Offc W01 Bold";
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: 1px;
    color: #ffffff; }
  h2 {
    font-family: "Clan Offc W01 Bold";
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 1.5px; }
  h3 {
    font-family: "Clan Offc W01 Bold";
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 1.2px; }
  h4 {
    font-family: "Clan Offc W01 Medium";
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 1px; }
  h5 {
    font-family: "Clan Offc W01 Book";
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 1.2px; }
  p {
    font-family: "Clan Offc W01 Book";
    font-size: 15px;
    line-height: 1.6; }
  .date-text {
    font-size: 15px; }
  .item-text {
    font-size: 20px; } }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; }

input {
  border: none !important;
  border-bottom: 1px solid #f4d958 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 0 !important;
  font-family: "Clan Offc W01 Medium" !important;
  float: left;
  outline: none !important; }

.input-liner {
  background-color: transparent !important;
  border-bottom: 1px solid #f4d958 !important;
  color: #ffffff !important; }
  .input-liner::-webkit-input-placeholder {
    color: #ffffff; }
  .input-liner:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff; }
  .input-liner::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff; }
  .input-liner:-ms-input-placeholder {
    color: #ffffff; }
  .input-liner:focus {
    border-bottom: 3px solid #f4d958 !important;
    outline: 0; }

.input-liner-newsletter {
  background-color: transparent !important;
  border-bottom: 1px solid #f4d958 !important;
  color: #969696 !important; }
  .input-liner-newsletter::-webkit-input-placeholder {
    color: #969696; }
  .input-liner-newsletter:-moz-placeholder {
    /* Firefox 18- */
    color: #969696; }
  .input-liner-newsletter::-moz-placeholder {
    /* Firefox 19+ */
    color: #969696; }
  .input-liner-newsletter:-ms-input-placeholder {
    color: #969696; }
  .input-liner-newsletter:focus {
    border-bottom: 3px solid #f4d958 !important;
    outline: 0; }

.input-full {
  padding: 0 30px;
  color: #4c4c4e !important;
  background-color: #ffffff !important;
  border-bottom: 0 !important; }
  .input-full::-webkit-input-placeholder {
    color: #969696; }
  .input-full:-moz-placeholder {
    /* Firefox 18- */
    color: #4c4c4e;
    opacity: 0.6; }
  .input-full::-moz-placeholder {
    /* Firefox 19+ */
    color: #4c4c4e;
    opacity: 0.6; }
  .input-full:-ms-input-placeholder {
    color: #969696; }

.input-liner-contact {
  background-color: transparent !important;
  border-bottom: 1px solid #c9c9c9 !important;
  color: #4c4c4e !important; }
  .input-liner-contact::-webkit-input-placeholder {
    color: #969696; }
  .input-liner-contact:-moz-placeholder {
    /* Firefox 18- */
    color: #969696; }
  .input-liner-contact::-moz-placeholder {
    /* Firefox 19+ */
    color: #969696;
    opacity: 1; }
  .input-liner-contact:-ms-input-placeholder {
    color: #969696; }
  .input-liner-contact:focus {
    border-bottom: 3px solid #f18f09 !important;
    outline: 0; }

#faq-search {
  width: calc(100% - 70px);
  height: 70px;
  margin-top: 30px; }

#faq-search-submit {
  height: 70px;
  width: 70px;
  color: white;
  border: 0 !important;
  -webkit-appearance: none;
  border-radius: 0 !important;
  margin-top: 30px;
  background: #00aaff url(../images/icons/search.svg) center no-repeat;
  background-size: 60%; }
  #faq-search-submit:hover {
    background-color: rgba(0, 170, 255, 0.8);
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s; }

#simulator-number {
  height: 60px;
  padding-left: 20px;
  width: calc(100% - 140px); }

#blog-search {
  height: 70px;
  margin-top: 30px;
  padding-left: 30px; }

#blog-search-submit {
  margin-left: -70px;
  height: 70px;
  width: 70px;
  color: white;
  border: 0 !important;
  -webkit-appearance: none;
  border-radius: 0 !important;
  margin-top: 30px;
  background: #00aaff url(../images/icons/search.svg) center no-repeat;
  background-size: 60%; }
  #blog-search-submit:hover {
    background-color: rgba(0, 170, 255, 0.8);
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s; }

#search-submit {
  margin-left: -100px;
  height: 70px;
  width: 70px;
  color: white;
  border: 0 !important;
  -webkit-appearance: none;
  border-radius: 0 !important;
  margin-top: 30px;
  background: url(../images/icons/search.svg) center no-repeat;
  background-size: 60%; }
  #search-submit:hover {
    background-color: rgba(0, 170, 255, 0.8);
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s; }

#input-search {
  height: 120px;
  border-bottom: 1px solid #ffffff !important;
  font-size: 44px;
  font-size: "Clan Offc W01 Book";
  max-width: 600px;
  margin: 0 auto;
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 44px;
  padding: 6px 90px 0px 30px; }

#input-search:focus {
  border-bottom: 3px solid #ffffff !important; }

@media screen and (max-width: 1024px) {
  #blog-search {
    width: calc(100% - 70px); }
  #blog-search-submit {
    margin-left: 0; } }

@media screen and (max-width: 800px) {
  #faq-search {
    width: calc(100% - 60px);
    height: 60px;
    margin-top: 0; }
  #faq-search-submit {
    height: 60px;
    width: 60px;
    margin-top: 0; } }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s; }

hr {
  margin: 10px 20%;
  height: 1px;
  border: 0 none;
  opacity: 0.7; }
  hr.blue {
    background-color: #00aaff; }
  hr.pumpkin-orange {
    background-color: #f18f09; }

a {
  text-decoration: none;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  color: inherit; }

a:hover {
  color: inherit;
  opacity: 0.6;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s; }

li a:hover,
li a:focus {
  color: #ffffff;
  opacity: 0.5;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s; }

.button {
  width: auto;
  height: auto;
  padding: 14px 50px;
  margin: 10px 0;
  border-radius: 40px;
  line-height: 20px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Clan Offc W01 Medium";
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s; }
  .button:hover {
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    opacity: 1; }
  .button.white {
    border: 1px solid #ffffff;
    color: #ffffff; }
    .button.white:hover {
      background-color: #ffffff;
      color: #00aaff; }
  .button.blue {
    border: 1px solid #00aaff;
    color: #00aaff .button.blue; }
    .button.blue :hover {
      background-color: #00aaff;
      color: #ffffff; }
  .button.pumpkin-orange {
    border: 1px solid #f18f09;
    color: #f18f09; }
    .button.pumpkin-orange:hover {
      background-color: #f18f09;
      color: #ffffff; }
  .button.light-orange {
    border: 1px solid #f4b323;
    color: #f4b323; }
    .button.light-orange:hover {
      background-color: #f4b323;
      color: #ffffff; }
  .button.pumpkin-orange-text:hover {
    color: #f18f09;
    background-color: #ffffff; }
  .button.scroll-button {
    border: 1px solid #00aaff !important;
    background-color: transparent;
    color: #00aaff !important;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s; }
    .button.scroll-button:hover {
      background-color: #00aaff;
      color: #ffffff !important;
      -webkit-transition: all 0.6s ease 0s;
      -o-transition: all 0.6s ease 0s;
      transition: all 0.6s ease 0s; }

.button-full {
  background-color: #6ac7ea;
  color: #ffffff;
  border: none; }

.hero-simulate-button {
  margin: 34px 0;
  padding: 14px 35px;
  background-color: rgba(0, 0, 0, 0.1); }

.button-label {
  font-family: "Clan Offc W01 Book";
  font-size: 16px;
  line-height: 2.1;
  text-align: center;
  color: #ffffff; }

.button-label-smaller {
  font-family: "Clan Offc W01 Book";
  font-size: 14px;
  line-height: 2.2;
  text-align: center;
  color: #ffffff; }

.contact-submit {
  color: #00aaff;
  font-family: "Clan Offc W01 Medium"; }
  .contact-submit:after {
    font-family: 'Material Icons';
    content: "arrow_forward";
    padding-left: 20px;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s; }
  .contact-submit:hover::after {
    padding-left: 30px;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s; }

.simulate-submit {
  color: #00aaff;
  font-family: "Clan Offc W01 Medium";
  padding-top: 7px; }
  .simulate-submit:after {
    font-family: 'Material Icons';
    content: "arrow_forward";
    padding-left: 20px;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s; }
  .simulate-submit:hover::after {
    padding-left: 30px;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s; }

.newsletter-submit {
  margin-top: 10px;
  color: #00aaff;
  font-family: "Clan Offc W01 Medium"; }
  .newsletter-submit:after {
    font-family: 'Material Icons';
    content: "arrow_forward";
    padding-left: 20px;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s; }
  .newsletter-submit:hover::after {
    padding-left: 30px;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s; }

.next-post {
  color: #00aaff;
  font-family: "Clan Offc W01 Medium";
  margin-bottom: 20px;
  margin-right: 30px;
  text-align: right; }
  .next-post:after {
    font-family: 'Material Icons';
    content: "arrow_forward";
    padding-left: 20px;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    position: absolute; }
  .next-post:hover::after {
    padding-left: 30px;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s; }

.prev-post {
  color: #00aaff;
  font-family: "Clan Offc W01 Medium";
  margin-bottom: 20px;
  text-align: left;
  margin-left: 40px; }
  .prev-post:before {
    font-family: 'Material Icons';
    content: "arrow_back";
    padding-right: 20px;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    position: absolute;
    margin-left: -40px; }
  .prev-post:hover::before {
    margin-left: -50px;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s; }

.tooltip {
  background-color: #f4b323;
  color: #ffffff;
  font-family: "Clan Offc W01 Book";
  font-size: 80%;
  padding: 25px;
  max-width: 13rem !important;
  border-radius: 0; }

.tooltip::before {
  border-color: transparent transparent #f4b323; }

.tooltip.top::before {
  border-color: #f4b323 transparent transparent; }

.has-tip {
  cursor: pointer;
  border: none; }

@media screen and (max-width: 800px) {
  .hero-simulate-button {
    display: none; } }

.rounded-rectangle-large {
  width: 180px;
  height: 10px;
  border-radius: 5.5px;
  margin: 35px 0 35px; }

.rounded-rectangle-medium {
  width: 116px;
  height: 10px;
  border-radius: 5.5px;
  margin: 35px 0 35px; }

.rounded-rectangle-small {
  width: 50px;
  height: 8px;
  border-radius: 4px;
  margin: 35px 0 35px; }

.rounded-rectangle-large.pumpkin-orange,
.rounded-rectangle-medium.pumpkin-orange,
.rounded-rectangle-small.pumpkin-orange {
  background-color: #f18f09; }

.rounded-rectangle-large.light-orange,
.rounded-rectangle-medium.light-orange,
.rounded-rectangle-small.light-orange {
  background-color: #f4b323; }

.rounded-rectangle-large.white,
.rounded-rectangle-medium.white,
.rounded-rectangle-small.white {
  background-color: #ffffff; }

.rounded-rectangle-large.blue,
.rounded-rectangle-medium.blue,
.rounded-rectangle-small.blue {
  background-color: #00aaff; }

.icon {
  display: inline-block;
  margin: 10px 6px 0 0; }

.icon-header {
  height: 40px;
  width: 40px;
  float: left;
  padding: 7px; }

.facebook {
  width: 35px;
  height: 35px;
  background: url(../images/icons/facebook.svg) center no-repeat; }

.login-select.google-plus {
  background: url(../images/icons/google-plus.svg) center no-repeat;
  background-size: 50%; }

.login-select.facebook {
  background: url(../images/icons/facebook.svg) center no-repeat;
  background-size: 20%; }

.login-select:hover {
  opacity: 1;
  background-color: #f4b323 !important; }

.youtube {
  width: 35px;
  height: 35px;
  background: url(../images/icons/youtube.svg) 100% no-repeat; }

.icon-share {
  height: 50px;
  width: 50px;
  border: 1px solid #d7d7d7;
  border-radius: 50%; }
  .icon-share.google {
    background: url(../images/icons/google-plus-grey.svg) center no-repeat;
    background-size: 50%; }
  .icon-share.facebook {
    background: url(../images/icons/facebook-grey.svg) center no-repeat;
    background-size: 50%; }
  .icon-share.twitter {
    background: url(../images/icons/twitter-grey.svg) center no-repeat;
    background-size: 50%; }
  .icon-share.pintrest {
    background: url(../images/icons/pinterest-grey.svg) center no-repeat;
    background-size: 50%; }

.help {
  font-family: 'Material Icons';
  content: "help";
  color: #c9c9c9;
  vertical-align: middle;
  margin: 0; }
  .help:after {
    font-family: 'Material Icons';
    content: "help";
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    font-size: 24px;
    vertical-align: middle; }
  .help:hover::after {
    color: #f4b323; }

.opcional {
  padding-left: 4px;
  color: #4c4c4e;
  font-family: "Clan Offc W01 Book Italic";
  font-size: 14px;
  display: inline-block; }

.input-icon {
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 23px;
  padding-left: 40px; }
  .input-icon.user {
    background-image: url(../images/icons/user.svg); }
  .input-icon.mail {
    background-image: url(../images/icons/mail.svg); }
  .input-icon.user-lo {
    background-image: url(../images/icons/user-lo.svg); }
  .input-icon.mail-lo {
    background-image: url(../images/icons/mail-lo.svg); }

@media screen and (max-width: 700px) {
  .login-select {
    font-size: 14px; }
    .login-select.google-plus {
      background: url(../images/icons/google-plus.svg) center no-repeat;
      background-size: 50% !important; } }

#infog-svg {
  margin: 0 0 2% 0;
  width: 80%;
  height: 80%; }

@media screen and (max-width: 1024px) {
  .infog-wrap > svg {
    margin: auto; }
  #infog-svg {
    display: block;
    margin: 0 0 2% 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%; }
  .sun {
    -webkit-transform: translateX(-35px);
        -ms-transform: translateX(-35px);
            transform: translateX(-35px); } }

.st0 {
  fill: #F2F2F2;
  stroke: #F2F2F2;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.st1 {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linejoin: round; }

.st2 {
  fill: #F18F09;
  stroke: #F18F09;
  stroke-width: 2;
  stroke-linejoin: round; }

.st3 {
  fill: none;
  stroke: #e1e525;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-dasharray: 0 8;
  stroke-linecap: round;
  -webkit-animation: dash 1s linear forwards infinite;
          animation: dash 1s linear forwards infinite; }

.st3-background {
  fill: none;
  stroke: #BECD00;
  stroke-width: 4;
  stroke-linejoin: round; }

.st4 {
  fill: none;
  stroke: #6ac7ea;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-dasharray: 0 8;
  stroke-linecap: round;
  -webkit-animation: dash 1s linear forwards infinite;
          animation: dash 1s linear forwards infinite; }

.st4-background {
  fill: none;
  stroke: #00AAFF;
  stroke-width: 4;
  stroke-linejoin: round; }

.st5 {
  fill: none;
  stroke: #f9e8a0;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-dasharray: 0 8;
  stroke-linecap: round;
  -webkit-animation: dash 1s linear forwards infinite;
          animation: dash 1s linear forwards infinite; }

.st5-background {
  fill: none;
  stroke: #F4D958;
  stroke-width: 4;
  stroke-linejoin: round; }

.st6 {
  fill: none; }

.st7 {
  fill: #FCE37C; }

.st8 {
  fill: #8B8B8B; }

.st9 {
  fill: #075091;
  stroke: #075091;
  stroke-width: 2;
  stroke-linejoin: round; }

.st10 {
  fill: #233365;
  stroke: #233365;
  stroke-width: 2;
  stroke-linejoin: round; }

.st11 {
  fill: #F2F2F2;
  stroke: #F2F2F2;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

.st12 {
  fill: #191919; }

.st13 {
  fill: #D8D8D8;
  stroke: #D8D8D8;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

.st14 {
  fill: #6AC7EA; }

.st15 {
  fill: #F4D958; }

.st16 {
  fill: #F4D958;
  stroke: #F4D958;
  stroke-width: 2;
  stroke-linejoin: round; }

.st17 {
  fill: none;
  stroke: #8B8B8B;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

.st18 {
  fill: none;
  stroke: #D8D8D8;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

.st19 {
  fill: #8B8B8B;
  stroke: #8B8B8B;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

.st20 {
  fill: #636363; }

.st21 {
  fill: #D8D8D8; }

.st22 {
  fill: #F2F2F2; }

.st23 {
  fill: #F4D958;
  stroke: #F4D958;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

.st24 {
  fill: #00AAFF; }

.st25 {
  fill: #FFFFFF;
  pointer-events: none; }

.st26 {
  fill: #BECD00; }

.sun * {
  -webkit-animation: sun 1s linear alternate infinite;
          animation: sun 1s linear alternate infinite; }

.pulsing1 {
  -webkit-animation: pulsing1 2s ease-out infinite;
          animation: pulsing1 2s ease-out infinite; }

.pulsing2 {
  -webkit-animation: pulsing2 2s ease-out infinite;
          animation: pulsing2 2s ease-out infinite; }

.pulsing3 {
  -webkit-animation: pulsing3 2s ease-out infinite;
          animation: pulsing3 2s ease-out infinite; }

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 8; } }

@keyframes dash {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 8; } }

@-webkit-keyframes sun {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #f4d958;
    stroke: #f4d958; }
  to {
    -webkit-transform: translateX(-32px) scale(1.1);
            transform: translateX(-32px) scale(1.1);
    fill: #f4b323;
    stroke: #f4b323; } }

@keyframes sun {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #f4d958;
    stroke: #f4d958; }
  to {
    -webkit-transform: translateX(-32px) scale(1.1);
            transform: translateX(-32px) scale(1.1);
    fill: #f4b323;
    stroke: #f4b323; } }

@-webkit-keyframes pulsing1 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-151px) translateY(-115px) scale(1.7);
            transform: translateX(-151px) translateY(-115px) scale(1.7);
    opacity: 0; } }

@keyframes pulsing1 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-151px) translateY(-115px) scale(1.7);
            transform: translateX(-151px) translateY(-115px) scale(1.7);
    opacity: 0; } }

@-webkit-keyframes pulsing2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-109px) translateY(-198px) scale(1.7);
            transform: translateX(-109px) translateY(-198px) scale(1.7);
    opacity: 0; } }

@keyframes pulsing2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-109px) translateY(-198px) scale(1.7);
            transform: translateX(-109px) translateY(-198px) scale(1.7);
    opacity: 0; } }

@-webkit-keyframes pulsing3 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-227px) translateY(-200px) scale(1.7);
            transform: translateX(-227px) translateY(-200px) scale(1.7);
    opacity: 0; } }

@keyframes pulsing3 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-227px) translateY(-200px) scale(1.7);
            transform: translateX(-227px) translateY(-200px) scale(1.7);
    opacity: 0; } }

footer {
  padding: 40px 0 60px;
  height: auto;
  background-color: #00aaff; }

.logo-footer {
  width: 200px;
  height: 80px;
  background: url(../images/files/logo.png) left no-repeat; }

footer li {
  color: #ffffff;
  font-family: "Clan Offc W01 Medium";
  padding: 2px 0; }

.footer-input {
  padding-left: 0 !important; }

.open-menu header,
.open-search header {
  background-color: #00aaff;
  -webkit-box-shadow: none;
          box-shadow: none; }

.open-menu .logo-start,
.open-search .logo-start {
  display: block !important; }

.open-menu .logo-scroll,
.open-search .logo-scroll {
  display: none !important; }

.open-menu .button.scroll-button,
.open-search .button.scroll-button {
  border: 1px solid #ffffff !important;
  color: #ffffff !important; }
  .open-menu .button.scroll-button:hover,
  .open-search .button.scroll-button:hover {
    background-color: #ffffff !important;
    color: #00aaff !important; }

.open-menu .search,
.open-search .search {
  fill: #ffffff !important; }

.open-menu .btn--menu,
.open-search .btn--menu {
  color: #ffffff !important; }

.open-menu .menu-border-bg,
.open-search .menu-border-bg {
  stroke: #ffffff !important; }

.open-menu .menu-border-progress,
.open-search .menu-border-progress {
  stroke: #ffffff !important; }

.open-menu .btn--menu svg.burger .rect,
.open-search .btn--menu svg.burger .rect {
  fill: #ffffff !important; }

.open-search #search {
  display: none; }

.open-search .close-animatedModal {
  display: block; }

.open-search .menu-overlay {
  z-index: 999; }

header {
  height: 120px;
  max-width: 1440px;
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  z-index: 999; }

.fixed {
  position: fixed;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px #e8e8e8;
          box-shadow: 0px 1px 3px #e8e8e8;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  top: -15px;
  height: 105px; }

.logo {
  padding: 38px 0;
  width: 120px;
  float: left; }

.logo-scroll {
  display: none; }

.simulate-content {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  float: left; }

.menu {
  float: right;
  width: 160px;
  height: 40px;
  margin-top: 40px;
  position: relative; }

.btn--menu {
  margin-top: 2px;
  color: white;
  width: 115px;
  height: 38px;
  font: 0.75em/38px "Clan Offc W01 Medium", sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  margin-left: 6px; }

.btn--menu svg.border {
  height: 100%;
  right: 0;
  position: absolute;
  top: -1px;
  width: 100%; }

.btn--menu svg.burger {
  height: 9px;
  margin: 10px 0 0 6px;
  overflow: visible;
  width: 18px;
  fill: #ffffff; }

.btn--menu svg.border {
  height: 100%;
  left: 0;
  position: absolute;
  top: -1px;
  width: 100%; }

.btn--menu svg.border path.menu-border-bg {
  opacity: 0.4; }

.btn--menu svg.border path.menu-border-progress {
  -webkit-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  stroke: #a4a4a4; }

.menu .btn--menu svg.border path.menu-border-progress {
  stroke: #FFF; }

.btn--menu svg.burger {
  height: 9px;
  margin-left: 6px;
  overflow: visible;
  width: 17px; }

.btn--menu svg.burger .rect {
  fill: #a4a4a4;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1); }

.menu .btn--menu svg.burger .rect {
  fill: #FFF; }

.menu .btn--menu svg.burger .rect {
  fill: #fff; }

.btn--menu svg.burger .rect--top {
  -webkit-transform-origin: 5px 4px 0;
  -moz-transform-origin: 5px 4px 0;
  -ms-transform-origin: 5px 4px 0;
  -o-transform-origin: 5px 4px 0;
  transform-origin: 5px 4px 0; }

.btn--menu svg.burger .rect--bottom {
  -webkit-transform-origin: 3px 4px 0;
  -moz-transform-origin: 3px 4px 0;
  -ms-transform-origin: 3px 4px 0;
  -o-transform-origin: 3px 4px 0;
  transform-origin: 3px 4px 0; }

.btn--menu:hover .menu-border-progress {
  stroke-dashoffset: 0; }

.menu .btn--menu:hover {
  color: #ffff;
  cursor: pointer; }

.open-menu .btn--menu .burger .rect--top {
  -webkit-transform: rotate(45deg) translateZ(0px);
  -moz-transform: rotate(45deg) translateZ(0px);
  -ms-transform: rotate(45deg) translateZ(0px);
  -o-transform: rotate(45deg) translateZ(0px);
  transform: rotate(45deg) translateZ(0px); }

.open-menu .btn--menu .burger .rect--middle {
  opacity: 0;
  -webkit-transform: scale(0) translateZ(0px);
  -moz-transform: scale(0) translateZ(0px);
  -ms-transform: scale(0) translateZ(0px);
  -o-transform: scale(0) translateZ(0px);
  transform: scale(0) translateZ(0px); }

.open-menu .btn--menu .burger .rect--bottom {
  -webkit-transform: rotate(-45deg) translateZ(0px);
  -moz-transform: rotate(-45deg) translateZ(0px);
  -ms-transform: rotate(-45deg) translateZ(0px);
  -o-transform: rotate(-45deg) translateZ(0px);
  transform: rotate(-45deg) translateZ(0px); }

.fixed .btn--menu {
  color: #a4a4a4; }

.fixed .btn--menu svg.burger {
  fill: #a4a4a4; }

.fixed .btn--menu svg.burger .rect {
  fill: #a4a4a4; }

.fixed .btn--menu svg.burger .rect {
  fill: #a4a4a4; }

.fixed .btn--menu svg.border path.menu-border-bg {
  opacity: 0.4;
  stroke: #a4a4a4; }

.fixed .btn--menu:hover {
  color: #a4a4a4;
  cursor: pointer; }

.fixed .btn--menu svg.border path.menu-border-progress {
  stroke: #a4a4a4; }

.fixed .search {
  fill: #a4a4a4; }

.fixed .logo-start {
  display: none; }

.fixed .logo-scroll {
  display: block; }

.open-menu {
  height: 100vh !important;
  overflow: hidden !important; }

.open-menu .menu-overlay {
  opacity: 1;
  -webkit-transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
  transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
  visibility: visible; }

.menu-overlay {
  background: #00aaff repeat-y scroll center top/100% auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: center;
  top: 0;
  -webkit-transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
  transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  z-index: 100; }

.panel {
  height: calc(100vh - 240px);
  margin: 160px 0 80px; }

.panel ul {
  padding: 0;
  margin-left: 0; }

.panel .no-line::after {
  display: none;
  margin: 0 auto; }

.panel li {
  padding: 1.4vh 10px 0;
  font-family: "Clan Offc W01 Medium";
  font-size: 20px; }

.panel li::after {
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  display: block;
  height: 1px;
  margin: 15px auto 0;
  width: 20px; }

.light {
  font-family: "Clan Offc W01 Book";
  font-size: 18px;
  padding: 5px 0; }

@media screen and (max-width: 500px) {
  .logo {
    padding: 38px 0;
    width: 100px;
    float: left; }
  .panel li {
    font-size: 18px; }
  .light {
    font-size: 16px; } }

.steps-content {
  margin-top: 60px; }

.steps-last {
  padding-top: 0;
  margin-bottom: 81px; }

.step-icon {
  padding: 40px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.box-steps {
  padding: 35px 40px;
  background-color: #f4b323;
  height: 150px; }

.item {
  width: 22%;
  float: left;
  position: relative; }

.item-expand {
  padding: 35px 40px;
  background-color: #f18f09;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  visibility: hidden; }

.item:hover > .item-expand {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s; }

.start-now {
  position: relative;
  z-index: 9;
  margin-top: 20px; }

.arrow-step {
  width: 4%;
  float: left;
  height: 300px;
  padding: 0 10px; }

.arrow-step img {
  height: 100%; }

.content-img img {
  height: 100%; }

@media screen and (max-width: 1024px) {
  .box-steps {
    padding: 25px 25px;
    background-color: #f4b323;
    height: 140px; }
  .step-icon {
    padding: 30px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .item-expand {
    display: none; }
  .item {
    width: 22%;
    float: left; }
  .arrow-step {
    width: 4%;
    float: left;
    height: 200px;
    text-align: center; }
  .exclusive-padding {
    padding-left: auto;
    padding-right: auto; } }

@media screen and (max-width: 900px) {
  .start-now {
    position: relative;
    z-index: 9;
    margin-top: 0px; }
  .step-icon {
    padding: 30px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .box-steps {
    padding: 25px 30px;
    background-color: #f4b323;
    height: 130px;
    max-width: 400px;
    margin: 0 auto; }
  .item-expand {
    display: none; }
  .item {
    width: 100%;
    float: left;
    padding: 15px;
    text-align: center; }
  .arrow-step {
    width: 100%;
    float: left;
    height: 50px;
    text-align: center; }
  .arrow-step img {
    height: 100%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .exclusive-padding {
    padding-left: auto;
    padding-right: auto; } }

.download-box {
  height: auto;
  background-color: #f18f09;
  position: relative;
  right: 0;
  top: -180px;
  margin: 0;
  padding: 40px;
  float: right; }
  .download-box.blog {
    top: 0 !important;
    width: auto !important;
    margin-top: 30px; }
  .download-box li {
    color: white; }

.how-box {
  position: absolute;
  top: -200px; }

@media screen and (max-width: 1024px) {
  .download-box {
    max-width: 400px;
    height: 406px;
    background-color: #f18f09;
    position: relative;
    right: 0;
    top: 20px;
    margin: 0;
    float: left; }
    .download-box.blog {
      top: 0 !important;
      width: auto !important;
      margin-top: 20px;
      display: none; }
  .how-box {
    display: none; } }

#animatedModal {
  background: rgba(0, 170, 255, 0.95);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: center;
  top: 0;
  -webkit-transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
  transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  z-index: 100; }

.open-search {
  height: 100vh;
  overflow: hidden; }

.open-search #animatedModal {
  opacity: 1;
  visibility: visible; }

.search-content {
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
          transform: translateY(-55%); }

.modal-content {
  max-width: 640px;
  margin: 0 auto;
  padding: 20px; }

.close-animatedModal {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  height: 23px;
  width: 23px;
  margin: 2px auto 40px;
  display: none; }

.close-animatedModal img {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }

.close-animatedModal:hover img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer; }

.newsletter {
  margin: 40px 0 20px; }

.newsletter h4 {
  font-family: "Clan Offc W01 Bold";
  letter-spacing: 0.005em;
  font-size: 20px; }

@media screen and (max-width: 1024px) {
  .del-pad-left {
    padding-left: 0; } }

@media screen and (max-width: 640px) {
  .newsletter .columns {
    padding: 0; } }

.item-carrossel {
  height: 500px; }

.solucoes-slider {
  height: 500px; }

#owl-demo .item img {
  display: block;
  width: 100%; }

.case-text {
  padding: 50px; }

.steps-case {
  padding-top: 0;
  margin-bottom: 81px; }

/* ---- mason ---- */
.mason-container {
  margin: 100px 0 20px 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s; }

.material .mason-container {
  margin-top: 0; }

/* clearfix */
.mason-container:after {
  content: '';
  display: block;
  clear: both; }

/* ---- mason-item ---- */
.mason-item {
  height: auto;
  float: left !important;
  border: 10px solid #ffffff;
  outline: 1px solid #d7d7d7;
  outline-offset: -10px;
  padding: 0; }

.mason-image {
  width: 100%; }

.mason-desc {
  padding: 45px 45px; }

.mason-category {
  text-transform: uppercase; }

.mason-title {
  font-family: "Clan Offc W01 Book";
  font-size: 16px; }

.mason-last {
  font-family: "Clan Offc W01 Book";
  font-size: 16px;
  color: #c9c9c9;
  float: right;
  text-transform: uppercase; }

.mason-fixed {
  position: relative !important; }

.solutions-box {
  background-color: #00aaff;
  float: right !important;
  padding: 20px 50px 50px 50px;
  max-width: 510px; }

.solutions-box span {
  font-family: "Clan Offc W01 Bold";
  color: #ffffff;
  font-size: 24px;
  -webkit-hyphens: manual;
      -ms-hyphens: manual;
          hyphens: manual;
  margin-bottom: 30px; }

.solutions-box p {
  margin: 30px 0 50px 0; }

.solutions-box > .button {
  min-width: 150px;
  width: 100% !important;
  padding: 14px 20px; }

.fotorama__arr {
  height: 50px !important;
  width: 50px !important; }

.fotorama__arr--prev,
.fotorama__arr--next {
  background-color: #00aaff !important;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  margin: 0 10px;
  line-height: 48px; }

.fotorama__arr--prev:after {
  font-family: 'Material Icons';
  content: "arrow_back";
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  font-size: 22px;
  vertical-align: middle; }

.fotorama__arr--next:after {
  font-family: 'Material Icons';
  content: "arrow_forward";
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  font-size: 22px; }

.fotorama__thumb-border {
  border-color: #00aaff; }

.hero-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.overlay {
  background: url(../images/files/mask-image.png) center no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%; }

.slide-container {
  padding: 40px 0; }

.blog-post-preview {
  padding: 30px 0;
  border-top: 1px solid #d7d7d7; }

.read-more {
  font-family: "Clan Offc W01 Book Italic";
  color: #4c4c4e; }

.exclusive-padding {
  padding-left: 2.9375rem;
  padding-right: 2.9375rem; }

.economy h2 {
  margin-bottom: 70px; }

.owl-home {
  margin-top: 40px; }

.economy .owl-pagination {
  margin-top: 40px; }

.economy img {
  margin: auto; }

.economy-text {
  padding: 0;
  margin-bottom: 50px; }

@media screen and (max-width: 1024px) {
  .exclusive-padding {
    padding-left: auto;
    padding-right: auto; } }

.nossos-servicos {
  background-color: #00aaff;
  padding: 10px 50px 40px; }

.grupo-engie-hero {
  padding: 45px 0; }

.quem-somos {
  margin-bottom: 45px; }

.grupo-engie-text {
  padding: 45px 50px;
  background-color: #ffffff;
  outline: #d7d7d7 solid 1px;
  margin: -250px 0 90px 0; }

.grupo-engie-text p {
  margin: 0 45px 0px 45PX; }

.grupo-engie-button {
  background-color: #f4b323;
  height: 75px;
  position: relative;
  z-index: 9999;
  float: right;
  padding: 20px 0 0 6%; }

.grupo-engie-button > a {
  z-index: 99999;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin: auto; }

.grupo-engie-button i {
  -webkit-transform: translateY(4.5px);
      -ms-transform: translateY(4.5px);
          transform: translateY(4.5px); }

@media screen and (max-width: 64em) {
  .grupo-engie-text {
    position: inherit;
    margin: 0;
    outline: none;
    padding: 0; }
  .grupo-engie-text p {
    margin: 45px 0 45px 0; }
  .grupo-engie-hero {
    height: 50vw !important; } }

@media screen and (max-width: 40em) {
  .grupo-engie-hero {
    height: 100vw !important; }
  .grupo-engie-button a {
    font-size: 14px !important; } }

.negative-columns {
  position: relative;
  top: -484px; }

.categories-box {
  width: 100%;
  height: auto;
  background-color: #f4b323;
  position: relative;
  right: 0;
  margin: 0;
  padding: 20px 50px 30px;
  float: right;
  height: auto;
  overflow: auto; }
  .categories-box > ul {
    height: auto;
    margin-top: 30px;
    padding-right: 10px; }
    .categories-box > ul > li {
      margin-bottom: 20px;
      line-height: 20px; }

.post {
  background-color: #f8f8f8;
  padding: 0 !important;
  margin: 20px 0; }

.post-image {
  padding: 0;
  height: 330px;
  overflow: hidden; }

.post-content {
  background-color: #f8f8f8;
  height: 330px;
  padding: 50px !important;
  overflow: hidden; }

.category-tag {
  font-size: 15px;
  font-family: "Clan Offc W01 Medium";
  color: #f4b323;
  margin-bottom: 16px; }

.post-date {
  float: right;
  color: #c9c9c9; }

.post-content h4 {
  letter-spacing: 0.005em; }

.post p {
  padding-bottom: 20px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  border-bottom: 1px solid #d7d7d7; }

.post-image img {
  display: block;
  margin: 0 auto;
  height: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: none !important; }

.pagination {
  font-family: "Clan Offc W01 Book";
  margin: 30px 0 30px; }

.pagination li a:hover,
.pagination li a:focus {
  opacity: inherit;
  color: inherit; }

.arrow a:hover,
.arrow a:focus {
  color: #00aaff !important;
  opacity: 0.5 !important; }

.pagination a {
  color: #4c4c4e; }

.pagination .current,
.pagination .current a {
  background: none;
  color: #00aaff;
  font-family: "Clan Offc W01 Bold"; }

.pagination a:hover,
.pagination button:hover {
  background: #ffffff; }

.arrow a {
  color: #00aaff; }

.arrow .material-icons {
  vertical-align: bottom; }

.unavailable {
  opacity: 0.6 !important; }

.unavailable:hover {
  opacity: 1 !important; }

@media screen and (max-width: 1024px) {
  .post {
    background-color: #ffffff;
    padding: 0 8px !important;
    margin: 20px 0; }
  .categories-box {
    width: 100%;
    margin: 20px 0;
    height: auto;
    background-color: #f4b323;
    position: relative;
    right: 0;
    top: 0;
    padding: 20px 50px 30px;
    float: right;
    height: 510px; }
  .negative-columns {
    position: relative;
    top: auto; } }

@media screen and (max-width: 800px) {
  .post-content {
    padding: 35px !important;
    height: auto; } }

@media screen and (max-width: 639px) {
  .post {
    background-color: #ffffff;
    padding: 0 !important;
    margin: 20px 0; }
  .arrow .material-icons {
    font-size: 36px; } }

.contact-box-content {
  top: -420px;
  position: relative; }

.contact-box {
  width: 300px;
  height: auto;
  background-color: #00aaff;
  position: absolute;
  margin: 0;
  padding: 40px 40px 70px;
  right: 0; }

.contact-form {
  padding: 40px 0 0; }
  .contact-form select {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #c9c9c9;
    font-family: "Clan Offc W01 Medium";
    border-radius: 0; }
    .contact-form select:hover {
      border-bottom: 3px solid #f18f09;
      cursor: pointer; }

.engie-email {
  font-family: "Clan Offc W01 Medium";
  font-size: 17px;
  color: #ffffff !important; }

@media screen and (max-width: 720px) {
  .contact-box-content {
    top: 20px;
    position: relative; }
  .contact-box {
    width: 100%;
    height: auto;
    position: relative;
    right: 0;
    top: 0;
    margin: 0;
    float: left; } }

.search-container {
  margin-top: 45px; }

.search-title {
  border-bottom: 1px dashed #c9c9c9;
  margin-bottom: 20px; }

.search-bar-wrap {
  position: relative;
  background-color: #f9f8f6;
  padding: 50px; }

.searchbar input {
  padding-right: 60px; }

#search-button {
  margin-left: -50px; }

.result-container {
  padding: 50px 50px 15px 50px; }

.results-wrapper {
  background-color: #f9f8f6; }

.result-container span {
  font-family: "Clan Offc W01 Bold";
  font-size: 18px; }

.result-container p {
  margin-top: 10px; }

.result-container hr {
  margin: 0 !important; }

.post-detail {
  padding: 0 !important; }

.post-detail-image {
  margin-top: 20px;
  height: 404px;
  overflow: hidden;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.box {
  padding: 30px !important;
  background-color: #f8f8f8;
  margin-top: 20px; }
  .box.prev {
    border-right: 10px solid #ffffff; }
  .box.next {
    float: right;
    text-align: right;
    border-left: 10px solid #ffffff; }

.box h4 {
  font-size: 22px;
  letter-spacing: 0; }

.share {
  margin: 40px 0 20px; }

.share a {
  vertical-align: bottom; }

.share p {
  font-family: "Clan Offc W01 Medium";
  display: inline-block;
  margin-bottom: 10px;
  padding: 0 20px 0 0; }

@media screen and (max-width: 640px) {
  .share p {
    font-family: "Clan Offc W01 Medium";
    display: block;
    margin-bottom: 10px;
    padding: 0 20px 0 0; }
  .box {
    padding: 30px !important;
    background-color: #f8f8f8; }
    .box.prev {
      border-right: 0 solid #ffffff; }
    .box.next {
      float: right;
      text-align: right;
      border-left: 0 solid #ffffff; } }

.case-detail-image {
  margin-top: 25px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.case-info {
  margin-top: 40px;
  text-align: center;
  padding: 0 0 0 20px; }
  .case-info > p {
    font-family: "Clan Offc W01 Medium"; }
  .case-info > h4 {
    letter-spacing: 0; }

.case-info-content {
  padding: 45px;
  background-color: #f8f8f8; }
  .case-info-content > h4 {
    letter-spacing: 0;
    margin-top: 40px; }
    .case-info-content > h4 > p {
      margin: 0 0 40px; }

.cases-content {
  padding: 0 10px 0 0; }

.graph-case-detail {
  height: 200px;
  margin: 40px auto 0; }

.date-detail {
  float: right;
  color: #c9c9c9;
  text-align: right;
  margin-top: 40px; }

.city {
  color: #f18f09;
  font-family: "Clan Offc W01 Medium";
  margin-bottom: 40px; }
  .city:before {
    font-family: 'Material Icons';
    content: "pin_drop";
    font-size: 24px;
    vertical-align: middle;
    padding-right: 12px; }

#active {
  -webkit-transform: rotate(270deg) scaleY(-1);
      -ms-transform: rotate(270deg) scaleY(-1);
          transform: rotate(270deg) scaleY(-1);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s; }

.percent {
  font-family: "Clan Offc W01 Bold";
  font-size: 12px; }

.install {
  margin: 40px 30px;
  border-bottom: 1px solid #00aaff; }

.reset-solution {
  position: absolute;
  right: 6%;
  bottom: 0;
  padding: 0; }

.solution-box {
  height: auto;
  background-color: #f18f09;
  padding: 20px 50px 40px;
  float: right; }
  .solution-box > .button {
    width: 300px; }

@media screen and (max-width: 1024px) {
  .date-detail {
    float: right;
    color: #c9c9c9;
    text-align: left;
    margin-top: 0;
    padding-left: 0; }
  .case-info {
    padding: 0; }
  .case-info-content {
    max-width: 400px;
    margin: 0 auto; }
  .cases-content {
    padding: 0; } }

@media screen and (max-width: 800px) {
  .reset-solution {
    display: none; } }

.parsley-success {
  border-bottom: 3px solid #D6E9C6 !important; }

.parsley-error {
  border-bottom: 3px solid #ff6e6e !important;
  margin-bottom: 8px; }

.parsley-required,
.parsley-type {
  font-size: 13px;
  float: left; }

#simulate-form input,
#simulate-form select {
  vertical-align: middle; }

#custom-simulate-form .columns {
  vertical-align: middle;
  height: 50px; }

#simulate-form ul li {
  font-size: 13px;
  float: left; }

#simulate-form ul {
  display: none; }

.simulator {
  margin-top: 30px;
  text-align: center; }

.simulator h4 {
  letter-spacing: 0;
  font-family: "Clan Offc W01 Bold";
  margin-bottom: 20px; }

.simulator select {
  height: 60px;
  padding: 0 40px 0 20px;
  border: none;
  border-radius: 0;
  text-shadow: 0;
  font-family: "Clan Offc W01 Medium";
  color: #969696; }
  .simulator select:hover {
    cursor: pointer; }
  .simulator select > option {
    height: 50px;
    padding: 18px 20px;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0;
            box-shadow: 0; }

select {
  color: #000;
  color: #969696;
  text-shadow: 0; }

.radio-content {
  background-color: #ebebeb;
  float: right;
  height: 60px;
  width: 140px;
  font-family: "Clan Offc W01 Medium";
  color: #969696; }
  .radio-content > input {
    float: none;
    margin: 24px 0; }

.radio-content-contact {
  float: right;
  width: 140px;
  font-family: "Clan Offc W01 Medium";
  color: #969696;
  position: absolute;
  right: 0;
  margin-top: 10px; }
  .radio-content-contact > input {
    float: none;
    margin-right: 6px;
    margin-left: 10px; }

.extra-padding {
  padding-right: 130px; }

.radio-content input[type="radio"] {
  margin-right: 6px;
  margin-left: 5px; }

.login {
  width: 100%;
  bottom: 35px;
  display: block;
  height: 60px;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center; }
  .login > .login-select {
    background-color: #f18f09;
    height: 90px;
    width: 90px;
    -webkit-box-shadow: 0 9px 27px 0 rgba(0, 0, 0, 0.22);
            box-shadow: 0 9px 27px 0 rgba(0, 0, 0, 0.22);
    border-radius: 50%;
    margin: 10px 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    font-family: "Clan Offc W01 Bold";
    line-height: 90px; }
  .login > h4 {
    letter-spacing: 0;
    font-family: "Clan Offc W01 Bold"; }

.open-email-modal .modal-email {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.modal-email {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  .modal-email > .modal-email-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 450px;
    height: auto;
    padding: 20px;
    background: #f18f09;
    padding: 50px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }

.modal-email-mask {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.close-modal-email {
  height: 23px;
  margin: 2px auto 40px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  width: 23px;
  position: absolute;
  right: 20px;
  top: 20px; }

.close-modal-email img {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }

.close-modal-email:hover img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer; }

.result-box {
  background-color: #f8f8f8;
  padding: 50px 60px;
  text-align: center;
  margin-bottom: 20px;
  height: 460px;
  line-height: 24px; }

.graph-result {
  height: 200px;
  margin-bottom: 30px;
  position: relative; }

.centralize {
  display: block;
  padding-top: 40px; }

.negative-result-simulator {
  padding: 30px 0; }

.result-box h4 {
  padding: 0;
  margin: 0;
  line-height: auto; }

.align-svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%; }

.gauge.rotate {
  -webkit-transform-origin: 420px 440px;
      -ms-transform-origin: 420px 440px;
          transform-origin: 420px 440px;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s; }

.gauge.worst {
  -webkit-transform: rotate(-74deg);
      -ms-transform: rotate(-74deg);
          transform: rotate(-74deg); }

.gauge.bad {
  -webkit-transform: rotate(-37deg);
      -ms-transform: rotate(-37deg);
          transform: rotate(-37deg); }

.gauge.medium {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg); }

.gauge.good {
  -webkit-transform: rotate(37deg);
      -ms-transform: rotate(37deg);
          transform: rotate(37deg); }

.gauge.perfect {
  -webkit-transform: rotate(74deg);
      -ms-transform: rotate(74deg);
          transform: rotate(74deg); }

.solar.cls-1 {
  fill: #fff;
  stroke: #fff; }

.solar.cls-1, .solar.cls-2, .solar.cls-3 {
  stroke-linejoin: round;
  stroke-width: 2px; }

.solar.cls-2 {
  fill: #075091;
  stroke: #075091; }

.solar.cls-3 {
  fill: #233365;
  stroke: #233365; }

@media screen and (max-width: 1024px) {
  .graph-result {
    height: auto;
    margin-bottom: 30px;
    position: relative; }
  .result-box {
    padding: 50px 45px;
    height: auto; } }

@media screen and (max-width: 700px) {
  .login {
    padding: 0 30px; }
    .login > .login-select {
      height: 60px;
      width: 60px;
      -webkit-box-shadow: 0 9px 27px 0 rgba(0, 0, 0, 0.22);
              box-shadow: 0 9px 27px 0 rgba(0, 0, 0, 0.22);
      background-size: 20%;
      margin: 10px 10px;
      line-height: 60px; }
  .simulator select {
    height: 50px;
    padding: 0 40px 0 20px;
    border: none;
    border-radius: 0;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    text-shadow: 0;
    font-family: "Clan Offc W01 Medium";
    color: #969696; } }

.solutions-slider {
  height: 120%;
  background-color: #f4b323; }

.solutions-slider > img {
  background: none;
  margin: auto;
  padding: 50px;
  padding-bottom: 70px;
  display: block; }

.case-text {
  padding: 50px; }

.owl-wrapper-outer {
  background-color: #f4b323; }

.solutions .owl-pagination {
  margin-top: -60px; }

@media screen and (max-width: 40em) {
  .solutions-slider > img {
    padding-left: 10px;
    padding-right: 10px; } }

.infog-tooltip {
  position: absolute;
  width: 250px;
  padding: 20px 25px;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-family: "Clan Offc W01 Book";
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

/*.infog-tooltip::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #FFFFFF transparent;
    display: block;
    z-index: 1;
    bottom: -10px;
    left: 110px;
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $blue;
}*/
.tool1 {
  background-color: #f4b323;
  color: #ffffff;
  bottom: 57%;
  left: 27%;
  visibility: hidden;
  opacity: 0; }

.tool2 {
  background-color: #00aaff;
  color: #ffffff;
  bottom: 21%;
  left: 10%;
  visibility: hidden;
  opacity: 0; }

.tool3 {
  background-color: #BECD00;
  color: #ffffff;
  bottom: 21%;
  left: 40%;
  visibility: hidden;
  opacity: 0; }

.tool-on {
  visibility: visible;
  opacity: 1; }

@media screen and (max-width: 769px) {
  .how {
    display: none; } }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); } }

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); } }

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce; }

html, body {
  height: auto; }

body {
  background-color: #F0F0F0; }

.scroll {
  padding-top: 50px; }

.simulator-dot {
  background-image: url("../images/files/gradiente.png");
  background-size: auto 100%;
  background-position: 0% 20%;
  /* form float */
  /*form type 2 */ }
  .simulator-dot p {
    color: #ffffff;
    font-family: "Clan Offc W01 News"; }
  .simulator-dot .vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .simulator-dot h2 {
    letter-spacing: normal;
    font-family: "Clan Offc W01 Book";
    font-size: 32px;
    color: #ffffff;
    text-align: center; }
    .simulator-dot h2 b {
      font-family: "Clan Offc W01 Medium"; }
  .simulator-dot .header {
    background: url("../images/files/header_new_simulator.png") no-repeat;
    background-size: cover;
    background-position: 0% 500%;
    padding: 60px 20px 30px; }
    .simulator-dot .header .tittle-wrapper {
      width: 65%;
      margin: 0 auto;
      position: relative; }
      .simulator-dot .header .tittle-wrapper p {
        text-align: center;
        margin-bottom: 60px; }
      .simulator-dot .header .tittle-wrapper .logo-wrapper {
        text-align: center;
        margin-bottom: 30px; }
      .simulator-dot .header .tittle-wrapper .title {
        text-align: center;
        font-family: "Clan Offc W01 Book";
        font-size: 45px;
        line-height: 55px;
        background-color: rgba(0, 0, 0, 0);
        display: block;
        float: none;
        width: auto;
        height: auto;
        text-transform: initial; }
        .simulator-dot .header .tittle-wrapper .title b {
          font-family: "Clan Offc W01 Medium"; }
      .simulator-dot .header .tittle-wrapper .know-more {
        color: #ffffff;
        display: block;
        text-align: center;
        font-family: "Clan Offc W01 Bold";
        position: absolute;
        bottom: 20%;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); }
        .simulator-dot .header .tittle-wrapper .know-more:after {
          content: "\f078";
          display: block;
          font-size: 32px;
          font-family: 'FontAwesome';
          -webkit-animation-name: bounce;
                  animation-name: bounce;
          -webkit-animation-duration: .5s;
                  animation-duration: .5s;
          -webkit-animation-fill-mode: both;
                  animation-fill-mode: both;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite;
          margin-top: 10px; }
    .simulator-dot .header .slider-wrapper .slider-investimento-solar {
      margin-left: -20px;
      width: calc(100% + 40px); }
      .simulator-dot .header .slider-wrapper .slider-investimento-solar .item {
        width: 360px;
        height: 360px;
        color: #ffffff;
        border: 1px solid #D1DBE3;
        border-radius: 5px;
        padding: 10px 40px;
        float: none;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .simulator-dot .header .slider-wrapper .slider-investimento-solar .item img {
          margin: 0 auto;
          display: block;
          width: 110px;
          height: 110px;
          margin-bottom: 20px;
          opacity: .44; }
        .simulator-dot .header .slider-wrapper .slider-investimento-solar .item .title,
        .simulator-dot .header .slider-wrapper .slider-investimento-solar .item .description {
          background: none;
          text-transform: initial;
          text-align: center;
          float: none;
          text-align: center;
          width: auto;
          height: auto; }
        .simulator-dot .header .slider-wrapper .slider-investimento-solar .item .title {
          font-family: "Clan Offc W01 Bold";
          font-size: 22px;
          line-height: initial; }
        .simulator-dot .header .slider-wrapper .slider-investimento-solar .item .description {
          font-family: "Clan Offc W01 News";
          font-size: 14px; }
      .simulator-dot .header .slider-wrapper .slider-investimento-solar .owl-item.active.center .item {
        background-color: #FDC300;
        -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3); }
        .simulator-dot .header .slider-wrapper .slider-investimento-solar .owl-item.active.center .item img {
          opacity: 1; }
        .simulator-dot .header .slider-wrapper .slider-investimento-solar .owl-item.active.center .item .title {
          color: #7A2182; }
      .simulator-dot .header .slider-wrapper .slider-investimento-solar .owl-stage-outer {
        padding: 50px 0px; }
      .simulator-dot .header .slider-wrapper .slider-investimento-solar .owl-nav .owl-prev,
      .simulator-dot .header .slider-wrapper .slider-investimento-solar .owl-nav .owl-next {
        width: 40px;
        height: 40px;
        color: #9DAFBD;
        background-color: #ffffff;
        border-radius: 50%;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .simulator-dot .header .slider-wrapper .slider-investimento-solar .owl-nav .owl-prev:hover,
        .simulator-dot .header .slider-wrapper .slider-investimento-solar .owl-nav .owl-next:hover {
          background-color: #25077B;
          color: #ffffff; }
  .simulator-dot .simulator {
    padding: 10px 100px;
    margin-bottom: 50px;
    z-index: 10;
    position: relative; }
    .simulator-dot .simulator .box-simulator {
      padding: 40px 30px;
      background-color: #009FE3;
      -webkit-box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.1);
      border-radius: 5px; }
      .simulator-dot .simulator .box-simulator #simulator-form .form-item {
        float: left;
        width: 22%;
        margin-right: 1%; }
        .simulator-dot .simulator .box-simulator #simulator-form .form-item.form-item-valor-mensal {
          margin-right: 0;
          width: 31%; }
        .simulator-dot .simulator .box-simulator #simulator-form .form-item .form-label {
          top: 22px; }
        .simulator-dot .simulator .box-simulator #simulator-form .form-item.form-item-has-value .form-text ~ .form-label,
        .simulator-dot .simulator .box-simulator #simulator-form .form-item .form-text:focus ~ .form-label,
        .simulator-dot .simulator .box-simulator #simulator-form .form-item.form-item-has-value .form-select ~ .form-label,
        .simulator-dot .simulator .box-simulator #simulator-form .form-item .form-select:focus ~ .form-label {
          top: 5px; }
      .simulator-dot .simulator .box-simulator #simulator-form .form-select {
        color: #009FE3;
        border-radius: 5px; }
      .simulator-dot .simulator .box-simulator #simulator-form .form-text {
        color: #009FE3; }
      .simulator-dot .simulator .box-simulator #simulator-form .radio-content {
        position: absolute;
        right: 0;
        color: #ffffff;
        background-color: #2D2683;
        float: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
        .simulator-dot .simulator .box-simulator #simulator-form .radio-content label {
          color: #ffffff;
          margin: 0; }
      .simulator-dot .simulator .box-simulator #simulator-form:after {
        content: '';
        display: table;
        clear: both; }
      .simulator-dot .simulator .box-simulator #simulator-form .parsley-required {
        color: #ffffff; }
      .simulator-dot .simulator .box-simulator .form-items:after {
        content: '';
        clear: both;
        display: table; }
    .simulator-dot .simulator .btn-wrapper {
      text-align: center; }
      .simulator-dot .simulator .btn-wrapper .btn {
        background-color: #F59C00;
        color: #fff;
        width: 158px;
        height: 40px;
        font-size: 14px;
        border-radius: 20px;
        -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); }
  .simulator-dot #result-error {
    display: none;
    width: 80%;
    margin: 0 auto 40px; }
  .simulator-dot #loading {
    text-align: center;
    display: none; }
  .simulator-dot .result {
    display: none;
    background: rgba(255, 255, 255, 0.31);
    padding-top: 135px;
    margin-top: -135px;
    padding-bottom: 15px; }
    .simulator-dot .result p {
      text-align: center;
      color: #575756;
      margin-bottom: 45px; }
    .simulator-dot .result .result-cards {
      margin: 0 auto 50px;
      width: 1120px;
      padding: 10px 0px;
      text-align: center; }
      .simulator-dot .result .result-cards .result-card {
        float: left;
        background: #ffffff;
        -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: 360px;
        height: 314px;
        padding: 65px 45px 0px;
        -webkit-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
        transition: all 1s ease 0s;
        opacity: 0; }
        .simulator-dot .result .result-cards .result-card:not(:last-child) {
          margin-right: 20px; }
        .simulator-dot .result .result-cards .result-card .result-description {
          -webkit-transition: all 1s ease 0s;
          -o-transition: all 1s ease 0s;
          transition: all 1s ease 0s;
          opacity: 0;
          -webkit-transform: translateY(50%);
              -ms-transform: translateY(50%);
                  transform: translateY(50%); }
          .simulator-dot .result .result-cards .result-card .result-description .text-result {
            color: #9DAFBD;
            display: block;
            text-align: center; }
          .simulator-dot .result .result-cards .result-card .result-description .output-result {
            font-size: 50px;
            font-family: "Clan Offc W01 Medium";
            color: #026FC2;
            display: block;
            text-align: center; }
        .simulator-dot .result .result-cards .result-card .svg-wrapper {
          width: 200px;
          text-align: center;
          margin: 0 auto; }
          .simulator-dot .result .result-cards .result-card .svg-wrapper svg {
            width: 100%;
            height: auto; }
          .simulator-dot .result .result-cards .result-card .svg-wrapper .meter {
            width: 80%;
            padding-bottom: 49px; }
            .simulator-dot .result .result-cards .result-card .svg-wrapper .meter .group-arrow-point {
              -webkit-transform: translate(60px, 22px) rotate(-148deg);
                  -ms-transform: translate(60px, 22px) rotate(-148deg);
                      transform: translate(60px, 22px) rotate(-148deg);
              -webkit-transform-origin: 0;
                  -ms-transform-origin: 0;
                      transform-origin: 0;
              -webkit-transition: all 1s ease 0s;
              -o-transition: all 1s ease 0s;
              transition: all 1s ease 0s; }
              .simulator-dot .result .result-cards .result-card .svg-wrapper .meter .group-arrow-point.bad {
                -webkit-transform: translate(60px, 22px) rotate(-100deg);
                    -ms-transform: translate(60px, 22px) rotate(-100deg);
                        transform: translate(60px, 22px) rotate(-100deg); }
              .simulator-dot .result .result-cards .result-card .svg-wrapper .meter .group-arrow-point.medium {
                -webkit-transform: translate(60px, 22px) rotate(-52deg);
                    -ms-transform: translate(60px, 22px) rotate(-52deg);
                        transform: translate(60px, 22px) rotate(-52deg); }
              .simulator-dot .result .result-cards .result-card .svg-wrapper .meter .group-arrow-point.good {
                -webkit-transform: translate(60px, 22px) rotate(-8deg);
                    -ms-transform: translate(60px, 22px) rotate(-8deg);
                        transform: translate(60px, 22px) rotate(-8deg); }
              .simulator-dot .result .result-cards .result-card .svg-wrapper .meter .group-arrow-point.perfect {
                -webkit-transform: translate(60px, 22px) rotate(46deg);
                    -ms-transform: translate(60px, 22px) rotate(46deg);
                        transform: translate(60px, 22px) rotate(46deg); }
            .simulator-dot .result .result-cards .result-card .svg-wrapper .meter .arrow-point,
            .simulator-dot .result .result-cards .result-card .svg-wrapper .meter .arrow-base {
              fill: #f59c00; }
            .simulator-dot .result .result-cards .result-card .svg-wrapper .meter .circle {
              fill: none;
              stroke: #f59c00;
              stroke-miterlimit: 10;
              stroke-width: 3px; }
          .simulator-dot .result .result-cards .result-card .svg-wrapper .sun-placa {
            -webkit-transition: all 1s ease 0s;
            -o-transition: all 1s ease 0s;
            transition: all 1s ease 0s;
            opacity: 0;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%); }
            .simulator-dot .result .result-cards .result-card .svg-wrapper .sun-placa .cls-1 {
              fill: #f59c00; }
          .simulator-dot .result .result-cards .result-card .svg-wrapper .energy-economy {
            width: 50%;
            padding-bottom: 43px;
            opacity: 0;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%); }
            .simulator-dot .result .result-cards .result-card .svg-wrapper .energy-economy .cls-1 {
              fill: #f59c00; }
        .simulator-dot .result .result-cards .result-card#card-placa {
          padding-top: 0; }
        .simulator-dot .result .result-cards .result-card.show {
          opacity: 1; }
          .simulator-dot .result .result-cards .result-card.show .result-description,
          .simulator-dot .result .result-cards .result-card.show .sun-placa,
          .simulator-dot .result .result-cards .result-card.show .energy-economy {
            opacity: 1;
            -webkit-transform: translateY(0%);
                -ms-transform: translateY(0%);
                    transform: translateY(0%); }
      .simulator-dot .result .result-cards:after {
        content: '';
        clear: both;
        display: table; }
    .simulator-dot .result .resultado-resumo-wrapper {
      opacity: 0;
      -webkit-transform: translateY(50%);
          -ms-transform: translateY(50%);
              transform: translateY(50%);
      -webkit-transition: all 1s ease 0s;
      -o-transition: all 1s ease 0s;
      transition: all 1s ease 0s; }
      .simulator-dot .result .resultado-resumo-wrapper.show {
        opacity: 1;
        -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
                transform: translateY(0%); }
    .simulator-dot .result .resultado-resumo {
      color: #7A2182;
      font-size: 30px;
      text-align: center; }
  .simulator-dot footer {
    padding: 80px 100px 230px; }
    .simulator-dot footer .footer-head {
      margin-bottom: 100px; }
  .simulator-dot .testimonials {
    background-color: #F0F0F0; }
    .simulator-dot .testimonials .testimonials-cards {
      width: 1010px;
      margin: 0 auto;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
      .simulator-dot .testimonials .testimonials-cards .testimonial-card {
        text-align: center;
        float: left;
        padding: 0 30px;
        height: 330px;
        width: 330px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #D1DBE3; }
        .simulator-dot .testimonials .testimonials-cards .testimonial-card .testimonial-description .text-testimonial {
          color: #009FE3;
          margin-bottom: 15px; }
        .simulator-dot .testimonials .testimonials-cards .testimonial-card:not(:last-child) {
          margin-right: 10px; }
        .simulator-dot .testimonials .testimonials-cards .testimonial-card .img-testimonial.valor-img {
          margin: 25px 0px; }
      .simulator-dot .testimonials .testimonials-cards:after {
        content: '';
        display: table;
        clear: both; }
    .simulator-dot .testimonials .logo-wrapper img {
      width: 95px;
      margin: 0 auto 50px;
      display: block; }
  .simulator-dot .form-item-float-label {
    position: relative; }
    .simulator-dot .form-item-float-label .form-text,
    .simulator-dot .form-item-float-label .form-select {
      border-radius: 5px !important;
      height: 60px;
      padding-left: 20px; }
    .simulator-dot .form-item-float-label .form-label {
      position: absolute;
      color: #009FE3;
      top: 15px;
      line-height: 16px;
      text-align: left;
      left: 0;
      font-size: 14px;
      pointer-events: none;
      -webkit-transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
      -o-transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
      transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
      padding-left: 20px; }
    .simulator-dot .form-item-float-label.form-item-has-value .form-text ~ .form-label,
    .simulator-dot .form-item-float-label .form-text:focus ~ .form-label,
    .simulator-dot .form-item-float-label.form-item-has-value .form-select ~ .form-label,
    .simulator-dot .form-item-float-label .form-select:focus ~ .form-label {
      font-size: 1.2em;
      color: #14adcc;
      top: 5px;
      font-size: 10px; }
  .simulator-dot .form-type-2 .row {
    margin: 0 -20px; }
  .simulator-dot .form-type-2 .form-item {
    float: left;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px; }
    .simulator-dot .form-type-2 .form-item .form-text,
    .simulator-dot .form-type-2 .form-item .form-select {
      float: none;
      background: rgba(0, 0, 0, 0);
      color: #fff;
      border: 0;
      border-radius: 0 !important;
      border-bottom: 1px solid #fff !important;
      padding-left: 0;
      height: 40px; }
      .simulator-dot .form-type-2 .form-item .form-text > option,
      .simulator-dot .form-type-2 .form-item .form-select > option {
        background-color: #00aaff; }
      .simulator-dot .form-type-2 .form-item .form-text:-webkit-autofill, .simulator-dot .form-type-2 .form-item .form-text:-webkit-autofill:hover, .simulator-dot .form-type-2 .form-item .form-text:-webkit-autofill:focus,
      .simulator-dot .form-type-2 .form-item .form-select:-webkit-autofill,
      .simulator-dot .form-type-2 .form-item .form-select:-webkit-autofill:hover,
      .simulator-dot .form-type-2 .form-item .form-select:-webkit-autofill:focus {
        -webkit-text-fill-color: #fff;
        -webkit-box-shadow: 0 0 0px 1000px #00aaff inset !important;
                box-shadow: 0 0 0px 1000px #00aaff inset !important;
        -webkit-background-clip: content-box; }
    .simulator-dot .form-type-2 .form-item .form-label {
      color: #fff;
      padding-left: 0;
      top: 10px;
      left: 20px; }
    .simulator-dot .form-type-2 .form-item.col-50 {
      width: 50%; }
    .simulator-dot .form-type-2 .form-item.col-25 {
      width: 25%; }
    .simulator-dot .form-type-2 .form-item.col-33 {
      width: 33.33333%; }
    .simulator-dot .form-type-2 .form-item.col-16 {
      width: 16.66667%; }
    .simulator-dot .form-type-2 .form-item.form-item-has-value .form-text ~ .form-label,
    .simulator-dot .form-type-2 .form-item .form-text:focus ~ .form-label,
    .simulator-dot .form-type-2 .form-item.form-item-has-value .form-select ~ .form-label,
    .simulator-dot .form-type-2 .form-item .form-select:focus ~ .form-label {
      color: #fff;
      top: -10px;
      font-size: 10px; }
    .simulator-dot .form-type-2 .form-item .radio-content {
      position: absolute;
      top: 0;
      right: 0;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0);
      width: auto;
      float: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
      .simulator-dot .form-type-2 .form-item .radio-content label {
        color: #fff; }
      .simulator-dot .form-type-2 .form-item .radio-content input[type="radio"] {
        margin-top: 15px; }
    .simulator-dot .form-type-2 .form-item .parsley-errors-list li,
    .simulator-dot .form-type-2 .form-item .parsley-required,
    .simulator-dot .form-type-2 .form-item .parsley-type {
      color: #d02626;
      font-size: 13px; }
  .simulator-dot .form-type-2 .btn {
    background-color: #F59C00;
    color: #fff;
    width: 158px;
    height: 40px;
    font-size: 14px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); }
    .simulator-dot .form-type-2 .btn[disabled] {
      background-color: #bdbdbd;
      -webkit-box-shadow: none;
              box-shadow: none; }
  .simulator-dot .form-type-2:after {
    content: '';
    clear: both;
    display: table; }

.reveal .status {
  color: #009FE3;
  font-size: 2em;
  padding: 50px 20px;
  text-align: center; }

@media only screen and (max-width: 1200px) {
  .simulator-dot .simulator {
    padding: 10px 40px; }
  .simulator-dot footer {
    padding: 40px 40px 200px; } }

@media only screen and (max-width: 1120px) {
  .simulator-dot {
    background-position: 0% 45%; }
    .simulator-dot .result .result-cards {
      width: auto; }
      .simulator-dot .result .result-cards .result-card,
      .simulator-dot .result .result-cards .result-card:not(:last-child) {
        float: none;
        margin: 0 auto 20px; } }

@media only screen and (max-width: 1024px) {
  .simulator-dot .header {
    height: auto; }
  .simulator-dot .form-type-2 .form-item.col-50 {
    width: 100%; }
  .simulator-dot .form-type-2 .form-item.col-25, .simulator-dot .form-type-2 .form-item.col-33, .simulator-dot .form-type-2 .form-item.col-16 {
    width: 50%; }
  .simulator-dot .testimonials .testimonials-cards {
    width: 100%;
    padding: 0px 20px; }
    .simulator-dot .testimonials .testimonials-cards .testimonial-card {
      width: 32%; }
    .simulator-dot .testimonials .testimonials-cards .testimonial-card:not(:last-child) {
      margin-right: 2%; }
  .simulator-dot footer {
    padding: 40px 30px 200px; } }

@media only screen and (max-width: 768px) {
  .simulator-dot p {
    font-size: 14px; }
  .simulator-dot h2 {
    font-size: 28px; }
  .simulator-dot .header .tittle-wrapper {
    width: 100%; }
    .simulator-dot .header .tittle-wrapper .title {
      font-size: 32px;
      line-height: 40px; }
    .simulator-dot .header .tittle-wrapper .know-more:after {
      font-size: 18px; }
  .simulator-dot .header .slider-wrapper .slider-investimento-solar .item {
    width: 280px;
    height: 280px; }
    .simulator-dot .header .slider-wrapper .slider-investimento-solar .item img {
      width: 75px;
      height: 75px;
      margin-bottom: 15px; }
    .simulator-dot .header .slider-wrapper .slider-investimento-solar .item .title {
      font-size: 18px; }
  .simulator-dot .simulator {
    padding: 10px 20px; }
    .simulator-dot .simulator .box-simulator #simulator-form .form-item {
      width: 100%; }
      .simulator-dot .simulator .box-simulator #simulator-form .form-item.form-item-valor-mensal {
        width: 100%; }
  .simulator-dot .result .result-cards .result-card {
    width: 280px;
    padding: 25px 25px 0px; }
    .simulator-dot .result .result-cards .result-card .result-description .text-result {
      font-size: 14px; }
    .simulator-dot .result .result-cards .result-card .result-description .output-result {
      font-size: 32px; }
  .simulator-dot .form-type-2 .form-item.col-50, .simulator-dot .form-type-2 .form-item.col-25, .simulator-dot .form-type-2 .form-item.col-33, .simulator-dot .form-type-2 .form-item.col-16 {
    width: 100%; }
  .simulator-dot .form-type-2 .btn-wrapper {
    text-align: center; }
  .simulator-dot .testimonials .testimonials-cards {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    width: 100%;
    padding: 20px; }
    .simulator-dot .testimonials .testimonials-cards .testimonial-card {
      width: 100%;
      height: 200px; }
    .simulator-dot .testimonials .testimonials-cards .testimonial-card:not(:last-child) {
      margin-right: 0%;
      margin-bottom: 15px; }
  .simulator-dot footer {
    padding: 40px 30px 30px; } }

@media only screen and (max-width: 520px) {
  .simulator-dot .simulator .box-simulator #simulator-form .form-item-valor-mensal {
    margin-bottom: 80px; }
    .simulator-dot .simulator .box-simulator #simulator-form .form-item-valor-mensal .radio-content {
      width: 100%;
      top: 100%; }
  .simulator-dot .form-type-2 .row:last-child .form-item {
    margin-bottom: 60px; }
    .simulator-dot .form-type-2 .row:last-child .form-item .radio-content {
      top: 100%;
      width: 100%;
      text-align: center; } }
