@font-face {
    font-family: "Clan Offc W01 Bold";
    src: url("../fonts/ff_clan/1379310/01b0af06-ad3c-41d6-9b21-069625f80868.eot?#iefix");
    src: url("../fonts/ff_clan/1379310/01b0af06-ad3c-41d6-9b21-069625f80868.eot?#iefix") format("eot"), url("../fonts/ff_clan/1379310/aebe1a70-5ea6-4c4c-81ba-8310e3509589.woff2") format("woff2"), url("../fonts/ff_clan/1379310/096d2b37-f42f-43f3-880c-41bb05a467ed.woff") format("woff"), url("../fonts/ff_clan/1379310/44ee6142-b365-41af-9135-715c61a071c4.ttf") format("truetype");
}

@font-face {
    font-family: "Clan Offc W01 Bold Italic";
    src: url("../fonts/ff_clan/1379316/c187376d-23a5-4996-a4d3-32dbf59c33f8.eot?#iefix");
    src: url("../fonts/ff_clan/1379316/c187376d-23a5-4996-a4d3-32dbf59c33f8.eot?#iefix") format("eot"), url("../fonts/ff_clan/1379316/0779d22d-0fdf-4f7a-b9d4-0785b2966aa3.woff2") format("woff2"), url("../fonts/ff_clan/1379316/08f616ac-04e0-411b-a4a0-0b53288556ec.woff") format("woff"), url("../fonts/ff_clan/1379316/c78ead8f-e9af-4924-8dc4-6c33bfc1c86c.ttf") format("truetype");
}

@font-face {
    font-family: "Clan Offc W01 Book";
    src: url("../fonts/ff_clan/1379334/b0e0cfcb-ae44-4bfe-9b09-9c74882cfcc3.eot?#iefix");
    src: url("../fonts/ff_clan/1379334/b0e0cfcb-ae44-4bfe-9b09-9c74882cfcc3.eot?#iefix") format("eot"), url("../fonts/ff_clan/1379334/90089f64-f178-4755-82a0-8f89a7ad02f4.woff2") format("woff2"), url("../fonts/ff_clan/1379334/00fa0f5a-a161-4fb8-8d0c-75da5b94021a.woff") format("woff"), url("../fonts/ff_clan/1379334/644e8119-7082-4314-88d7-38ea205fbebc.ttf") format("truetype");
}

@font-face {
    font-family: "Clan Offc W01 Book Italic";
    src: url("../fonts/ff_clan/1379340/c45ea5e4-ff94-4a48-83d5-7230e648ab48.eot?#iefix");
    src: url("../fonts/ff_clan/1379340/c45ea5e4-ff94-4a48-83d5-7230e648ab48.eot?#iefix") format("eot"), url("../fonts/ff_clan/1379340/ec4c80f9-8913-4ff8-b201-7b63473459ad.woff2") format("woff2"), url("../fonts/ff_clan/1379340/63178927-9269-4438-bfb7-d8b76bd08774.woff") format("woff"), url("../fonts/ff_clan/1379340/2800f8cd-6fe3-416c-ab58-6ac9bc0c2f77.ttf") format("truetype");
}

@font-face {
    font-family: "Clan Offc W01 Medium";
    src: url("../fonts/ff_clan/1379862/60b5c6cd-07b5-4786-89e7-a63e540fa2f0.eot?#iefix");
    src: url("../fonts/ff_clan/1379862/60b5c6cd-07b5-4786-89e7-a63e540fa2f0.eot?#iefix") format("eot"), url("../fonts/ff_clan/1379862/18d9e66d-0f4b-4dc3-882b-88b324651b26.woff2") format("woff2"), url("../fonts/ff_clan/1379862/84c9c803-560a-4dd5-a7a9-4f606391921b.woff") format("woff"), url("../fonts/ff_clan/1379862/c3c78fcc-9ed1-4cde-9744-901ff3162d83.ttf") format("truetype");
}

@font-face {
    font-family: "Clan Offc W01 Medium Italic";
    src: url("../fonts/ff_clan/1379868/41eb2581-84f5-4f69-bad5-e904f53fc91d.eot?#iefix");
    src: url("../fonts/ff_clan/1379868/41eb2581-84f5-4f69-bad5-e904f53fc91d.eot?#iefix") format("eot"), url("../fonts/ff_clan/1379868/eefd0413-f9a8-45a3-8c87-7941ef8182a6.woff2") format("woff2"), url("../fonts/ff_clan/1379868/913cf755-cc3e-4f07-a61d-f298bc5d6912.woff") format("woff"), url("../fonts/ff_clan/1379868/4c777112-dd52-4762-9bdc-d09c888198ab.ttf") format("truetype");
}

@font-face {
    font-family: "Clan Offc W01 News";
    src: url("../fonts/ff_clan/1380054/b097eded-c2da-43a0-a596-8d18d3d9dc18.eot?#iefix");
    src: url("../fonts/ff_clan/1380054/b097eded-c2da-43a0-a596-8d18d3d9dc18.eot?#iefix") format("eot"), url("../fonts/ff_clan/1380054/e5b21225-38cc-41c3-94c2-6caea2dd23a0.woff2") format("woff2"), url("../fonts/ff_clan/1380054/e985298c-b775-41f6-a8a6-e679e547a17f.woff") format("woff"), url("../fonts/ff_clan/1380054/03d59716-f79a-4f73-a1bc-bfb28c1603dc.ttf") format("truetype");
}

@font-face {
    font-family: "Clan Offc W01 News Italic";
    src: url("../fonts/ff_clan/1380060/17b51cd8-63fc-4ddd-b3d9-fbfc723e9367.eot?#iefix");
    src: url("../fonts/ff_clan/1380060/17b51cd8-63fc-4ddd-b3d9-fbfc723e9367.eot?#iefix") format("eot"), url("../fonts/ff_clan/1380060/5f4ee5b0-1f03-4e5e-ac3f-b1f40cace3ee.woff2") format("woff2"), url("../fonts/ff_clan/1380060/436e9d0f-eb83-4cc0-950a-492c68f2aad1.woff") format("woff"), url("../fonts/ff_clan/1380060/a8f66030-bb72-443e-a0eb-1ac5e453b1ec.ttf") format("truetype");
}