input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; 
}

input {
    border: none !important;
    border-bottom: 1px solid $yellow !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    font-family: $font-semibold !important;
    float: left;
    outline: none !important
}

//input-liner 
.input-liner {
    background-color: transparent !important;
    border-bottom: 1px solid $yellow !important;
    color: $white !important;
    &::-webkit-input-placeholder {
        color: $white;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $white;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $white;
    }
    &:-ms-input-placeholder {
        color: $white;
    }
    &:focus {
        border-bottom: 3px solid $yellow !important;
        outline: 0;
    }
}

.input-liner-newsletter {
    background-color: transparent !important;
    border-bottom: 1px solid $yellow !important;
    color: $medium-grey !important;
    &::-webkit-input-placeholder {
        color: $medium-grey;
//        opacity: 0.7;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $medium-grey;
//        opacity: 0.7;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $medium-grey;
//        opacity: 0.7;
    }
    &:-ms-input-placeholder {
        color: $medium-grey;
//        opacity: 0.7;
    }
    &:focus {
        border-bottom: 3px solid $yellow !important;
        outline: 0;
    }
}

//input-full 
.input-full {
    padding: 0 30px;
    color: $dark-grey !important;
    background-color: $white !important;
    border-bottom: 0 !important;
    &::-webkit-input-placeholder {
        color: $medium-grey;
//        opacity: 0.8;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $dark-grey;
        opacity: 0.6;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $dark-grey;
        opacity: 0.6;
    }
    &:-ms-input-placeholder {
        color: $medium-grey;
//        opacity: 0.8;
    }
}

//input-liner-contact 
.input-liner-contact {
    background-color: transparent !important;
    border-bottom: 1px solid $light-grey !important;
    color: $dark-grey !important;
    &::-webkit-input-placeholder {
        color: $medium-grey;
//        opacity: 0.7;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $medium-grey;
//        opacity: 0.7;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $medium-grey;
        opacity: 1;
//        opacity: 0.7;
    }
    &:-ms-input-placeholder {
        color: $medium-grey;
//        opacity: 0.7;
    }
    &:focus {
        border-bottom: 3px solid $pumpkin-orange !important;
        outline: 0;
    }
}

#faq-search {
    width: calc(100% - 70px);
    height: 70px;
    margin-top: 30px;
}

#faq-search-submit {
    height: 70px;
    width: 70px;
    color: white;
    border: 0 !important;
    -webkit-appearance: none;
    border-radius: 0 !important;
    margin-top: 30px;
    background: $blue url(../images/icons/search.svg) center no-repeat;
    background-size: 60%;
    &:hover {
        background-color: rgba(0, 170, 255, 0.8);
        transition: all 0.6s ease 0s;
    }
}

#simulator-number {
    height: 60px;
    padding-left: 20px;
    width: calc(100% - 140px);
}

#blog-search {
    height: 70px;
    margin-top: 30px;
    padding-left: 30px;
}

#blog-search-submit {
    margin-left: -70px;
    height: 70px;
    width: 70px;
    color: white;
    border: 0 !important;
    -webkit-appearance: none;
    border-radius: 0 !important;
    margin-top: 30px;
    background: $blue url(../images/icons/search.svg) center no-repeat;
    background-size: 60%;
    &:hover {
        background-color: rgba(0, 170, 255, 0.8);
        transition: all 0.6s ease 0s;
    }
}

#search-submit {
    margin-left: -100px;
    height: 70px;
    width: 70px;
    color: white;
    border: 0 !important;
    -webkit-appearance: none;
    border-radius: 0 !important;
    margin-top: 30px;
    background: url(../images/icons/search.svg) center no-repeat;
    background-size: 60%;
    &:hover {
        background-color: rgba(0, 170, 255, 0.8);
        transition: all 0.6s ease 0s;
    }
}

#input-search {
    height: 120px;
    border-bottom: 1px solid $white !important;
    font-size: 44px;
    font-size: $font-book;
    max-width: 600px;
    margin: 0 auto;
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 44px;
    padding: 6px 90px 0px 30px;
    &.search {
//        background-image: url(../images/icons/search.svg);
    }
}

#input-search:focus {
    border-bottom: 3px solid $white !important;
}

@media screen and (max-width: 1024px) {
    #blog-search {
        width: calc(100% - 70px);
    }
    #blog-search-submit {
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {
    #faq-search {
        width: calc(100% - 60px);
        height: 60px;
        margin-top: 0;
    }
    #faq-search-submit {
        height: 60px;
        width: 60px;
        margin-top: 0;
    }
}