ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: all 0.6s ease 0s;
}

hr {
    margin: 10px 20%;
    height: 1px;
    border: 0 none;
    opacity: 0.7;
    &.blue {
        background-color: $blue;
    }
    &.pumpkin-orange {
        background-color: $pumpkin-orange;
    }
}

a {
    text-decoration: none;
    transition: all 0.6s ease 0s;
    color: inherit;
}

a:hover {
    color: inherit;
    opacity: 0.6;
    transition: all 0.6s ease 0s;
}

li a:hover,
li a:focus {
    color: $white;
    opacity: 0.5;
    transition: all 0.6s ease 0s;
}