@mixin x-center() {
  position:absolute;
  left:50%;
  transform: translateX(-50%);
}
@mixin y-center() {
  position:relative;
  top:50%;
  transform: translateY(-50%);
}

@mixin xy-center() {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
