body {
    font-family: $font-book;
}

.global {
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
    position: relative;
    background-color: $white;
}

.reset {
    .columns:first-child {
        padding-left: 0;
        padding-right: auto;
    }
    .columns:last-child {
        padding-left: auto;
        padding-right: 0;
    }
}

.relative {
    position: relative;
}

// padding e margins //
.margin-bottom-60 {
    margin-bottom: 60px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.no-margin {
    margin: 0 !important;
}

.padding-bottom-40 {
    padding-bottom: 40px !important;
}

.no-padding {
    padding: 0 !important;
}

.xy-center {
  @include xy-center();
}

.x-center {
  @include x-center();
}

.y-center {
  @include y-center();
}

// sections //
.hero {
    height: 660px;
    background: no-repeat;
    background-position: 30%;
    position: relative;
}

.intro {
    padding: 60px 0;
}

.economy {
    padding: 40px 0;
    background-color: $light-orange;
}

.steps {
    padding: 100px 0 80px;
}

.cases {
    padding: 40px 0 0;
}

.solutions{
    margin-top: 75px;
}

.search{
    padding-top: 100px;
}

.material{
    padding: 60px 0;
}

.news {
    padding: 100px 0;
}


.how{
    background-color: $lightblue;
}

.results{
    margin-top: 30px;
}

.consult{
    padding: 60px 0;
}

.categories, .blog, .cases-detail {
    padding: 0 0 80px;
}

.form {
    padding: 100px 0;
}

.simulator-result {
    padding: 80px 0 0;
}

.relative{
    position: relative;
}

@media screen and (max-width: 1024px) {
    .hero {
        height: 100vh;
        background: no-repeat;
        background-position: center;
        position: relative;
    }
    .extra-height {
        height: 135vh !important;
    }
    .reset {
        .columns:first-child {
            padding-right: 0;
        }
        .columns:last-child {
            padding-left: 0;
        }
    }
}

@media screen and (max-width: 800px) {
    .hero {
        height: 100vh;
        background: no-repeat;
        background-position: center;
        position: relative;
    }
}

@media screen and (max-width: 500px) {
    .hero {
        height: 100vh;
        background: no-repeat;
        background-position: -1000px;
        position: relative;
    }
}
