h2,
h3,
h4,
h5,
p,
li,
a {
    &.pumpkin-orange {
        color: $pumpkin-orange;
    }
    &.light-orange {
        color: $light-orange;
    }
    &.white {
        color: $white;
    }
    &.blue {
        color: $blue;
    }
    &.dark-grey {
        color: $dark-grey;
    }
    &.medium-grey {
        color: $medium-grey;
    }
}


/* Text */

h1 {
    font-family: $font-bold;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 3px;
    color: $white;
}

h2 {
    font-family: $font-bold;
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: 2.4px;
}

h3 {
    font-family: $font-bold;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 1.1px;
}

h4 {
    font-family: $font-semibold;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 1.2px;
}

h5 {
    font-family: $font-book;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 1.2px;
}

p {
    font-family: $font-book;
    font-size: 16px;
    line-height: 1.6;
}

.date-text {
    font-family: $font-book-italic;
    font-size: 16px;
    color: $dark-grey;
    margin: 0 0 10px;
}

.category-blue {
    font-family: $font-bold;
    font-size: 16px;
    line-height: 1.6;
    color: $blue;
}

.category-orange {
    font-family: $font-bold;
    font-size: 16px;
    line-height: 1.6;
    color: #f4b323;
    color: $light-orange;
}

.item-text {
    font-size: 22px;
}

.category-tag {
    font-size: 15px;
    font-family: $font-semibold;
    margin-bottom: 16px;
    &.light-orange {
        color: $light-orange;    
    }
    &.blue {
        color: $blue;    
    }
    &.dark-grey {
        color: $dark-grey;    
    }
}

@media screen and (max-width: 1280px) {
    h1 {
        font-family: $font-bold;
        font-size: 54px;
        line-height: 1.2;
        letter-spacing: 3px;
        color: $white;
    }
    h2 {
        font-family: $font-bold;
        font-size: 42px;
        line-height: 1;
        letter-spacing: 2.4px;
    }
    h3 {
        font-family: $font-bold;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 1.2px;
    }
    p {
        font-family: $font-book;
        font-size: 16px;
        line-height: 1.6;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-family: $font-bold;
        font-size: 46px;
        line-height: 1.2;
        letter-spacing: 3px;
        color: $white;
    }
    h2 {
        font-family: $font-bold;
        font-size: 40px;
        line-height: 1;
        letter-spacing: 2.4px;
    }
    h3 {
        font-family: $font-bold;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 1.2px;
    }
    p {
        font-family: $font-book;
        font-size: 16px;
        line-height: 1.6;
    }
    .download-box {
        width: auto;
        height: 406px;
        background-color: $pumpkin-orange;
        position: relative;
        right: 0;
        top: 0;
        margin: 0;
    }
    .item-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-family: $font-bold;
        font-size: 28px;
        line-height: 1.3;
        letter-spacing: 1px;
        color: $white;
    }
    h2 {
        font-family: $font-bold;
        font-size: 32px;
        line-height: 1.2;
        letter-spacing: 1.5px;
    }
    h3 {
        font-family: $font-bold;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 1.2px;
    }
    h4 {
        font-family: $font-semibold;
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: 1px;
    }
    h5 {
        font-family: $font-book;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 1.2px;
    }
    p {
        font-family: $font-book;
        font-size: 15px;
        line-height: 1.6;
    }
    .date-text {
        font-size: 15px
    }
    .item-text {
        font-size: 20px;
    }
}