/* Colors */

$blue: #00aaff;
$lightblue: #6ac7ea;
$pumpkin-orange: #f18f09;
$light-orange: #f4b323;
$yellow: #f4d958;
$dark-grey: #4c4c4e;
$medium-grey: #969696;
$light-grey: #c9c9c9;
$light-grey-line: #d7d7d7;
$light-grey-radio: #ebebeb;
$light-grey-post: #f8f8f8;
$white: #ffffff;

/* Fonts */

$font-bold: "Clan Offc W01 Bold";
$font-semibold: "Clan Offc W01 Medium";
$font-book: "Clan Offc W01 Book";
$font-news: "Clan Offc W01 News";
$font-book-italic: "Clan Offc W01 Book Italic";