.post-detail-image {
  margin-top: 20px;
  height: 404px;
  background-color: red;
  overflow: hidden; }

@media screen and (max-width: 64em) {
  .category-box {
    width: 100%;
    height: 406px;
    position: relative;
    right: 0;
    top: 0;
    margin: 0;
    float: left; }
  .blog-side-wrap {
    display: none; }
  .row.blog {
    margin-left: 0 !important; } }

.category-list {
  color: white; }

.category-list {
  line-height: 40px; }
